{% extends "tardis_portal/portal_template.html" %}

{% block content %}
  <div id="content">
    <div class="post">
      <h1 class="title"><a name="abouttardis">About Squirrel</a></h1>
      <div class="entry">
	<p>
	  Here's some text!
	</p>
      </div> <!-- entry -->
    </div> <!-- post -->

    <br/>

    <div class="post">
      <h1 class="title"><a name="citation">Citation</a></h1>
      <div class="entry">
	<p>
	  Please cite the following when referring to Squirrel:<br/>

	  <small>
	    <br/> Androulakis S, Schmidberger J, Bate MA, Degori R,
	    Beitz A, Keong C, Cameron B, McGowan S, Porter CJ,
	    Harrison A, Hunter J, Martin JL, Kobe B, Dobson RC, Parker
	    MW, Whisstock JC, Gray J, Treloar A, Groenewegen D,
	    Dickson N, Buckle AM. (2008) Federated repositories of
	    X-ray diffraction images. Acta Crystallogr D Biol
	    Crystallogr. Jul;64(Pt
	    7):810-4.
	    <a href="http://www.ncbi.nlm.nih.gov/pubmed/18566516?ordinalpos=1&itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_RVDocSum">[PubMed]</a></small>
	</p>

	<p>
	  For more information on the TARDIS project please
	  contact <a href="mailto:ashley.buckle@med.monash.edu.au">Associate
	  Professor Ashley Buckle</a>.</p>
      </div> <!-- entry -->
    </div> <!-- post -->
  </div> <!-- content -->

{% endblock content %}

{% block sidebar %}
  <ul>
    <li>
      <h2>About</h2>
      <ul>
	<li><a href="#abouttardis">About TARDIS</a></li>
	<li><a href="#citation">Citation</a></li>
      </ul>
    </li>
  </ul>
{% endblock sidebar %}
