{% extends "tardis_portal/portal_template.html" %}

{%  block script %}
<script type="text/javascript">
$(document).ready(function() {
  $('#cc_js_jurisdiction_choice_au').attr('selected', true);
});
</script>
{%  endblock %}

{% block content %}
<div class="page-header">
	<h1>Choose License</h1>
</div>

{% if not submit %}
<p>
  <strong>Experiment Name:</strong> {{ experiment.title }}
</p>
<form action="." method="post" class="licenseform">
	{% include "tardis_portal/creative_commons.html" %}

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      Choose License
    </button>
  </div>
</form>
{% else %}
<h2>License Chosen</h2>
<a href="{% url tardis.tardis_portal.views.view_experiment experiment.id %}">Go back to your experiment.</a>
{% endif %}
{% endblock %}

