{% extends "tardis_portal/portal_template.html" %}

{% block script %}
{{block.super}}
<script type="text/javascript">
var populateLicenseOptions = function() {
  $.ajax({
    url: '/ajax/license/list?public_access='+$(this).val(),
    dataType: 'json',
    success: function(licenses) {
      $('#license-options').empty();
      _(licenses).each(function (license) {
        $('#license-options').append($('<pre/>').text(license.name));
      });
    }
  });
};
</script>
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Choose Public Access and Licensing</h1>
</div>

{% if not submit %}
<p>
  <strong>Experiment Name:</strong> {{ experiment.title }}
</p>
<form action="." method="post" class="form-horizontal">
  {% load bootstrap %}
  {{ form|bootstrap }}
  <div id="license-options">

  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </div>
  <script type="text/javascript">
  $('select[name="public_access"]').change(populateLicenseOptions);
  </script>
</form>
{% else %}
<h2>License Chosen</h2>
<a href="{% url tardis.tardis_portal.views.view_experiment experiment.id %}">Go back to your experiment.</a>
{% endif %}
{% endblock %}

