{% extends "tardis_portal/portal_template.html" %}

{% block sidebar %}
<div class="sidebar-toggle-open sidebar-toggle-open-hidden">
  <button class="sidebar-toggle-button btn btn-inverse"
          title="Open Navigation Menu">
    <i class="icon-list"></i>
  </button>
</div>

<div class="well sidebar-nav">
  <div class="sidebar-toggle-close pull-right">
    <a class="sidebar-toggle-button close"
       title="Close Navigation Menu">&times;</a>
  </div>

</div>
<span id="sidebar-canary" class="hidden-phone"></span>

<script type="text/javascript">
(function() {
  //Sidebar open
  var openSidebarHandler = function() {
    // Reapply main content width restriction
    $('#content-pane').addClass('span9');
    // Fade in sidebar
    $('.sidebar-nav').show('drop');
    // Hide open toggle
    $('.sidebar-toggle-open').addClass('sidebar-toggle-open-hidden', 'slow');
    // Delete session cookie to preserve on page reload
    $.cookie('hide_sidebar', null, { path: '/' });
  }

  // Sidebar close
  var closeSidebarHandler = function() {
    // Fade out sidebar
    $('.sidebar-nav').hide('drop', function() {
      // Remove main content width restriction
      $('#content-pane').removeClass('span9', 'slow');
    });
    // Show open toggle
    $('.sidebar-toggle-open').removeClass('sidebar-toggle-open-hidden', 'slow');
    // Set session cookie to preserve on page reload
    $.cookie('hide_sidebar', '1', { path: '/' });
  };

  // Attach click handlers
  $('.sidebar-toggle-close .sidebar-toggle-button').click(closeSidebarHandler);
  $('.sidebar-toggle-open  .sidebar-toggle-button').click(openSidebarHandler);

  var shouldHideInitially = $('#sidebar-canary').filter(':visible').size() == 0;

  // Initial state
  if (shouldHideInitially || $.cookie('hide_sidebar')) {
    // Switch off FX to make this quick!
    var origValue = jQuery.fx.off;
    jQuery.fx.off = true;
    closeSidebarHandler();
    jQuery.fx.off = origValue;
  }
})();
</script>
{% endblock %}
