{% extends "tardis_portal/portal_template.html" %}

{% block sidebar %}
    <ul>
      <li>
    <h2>Browse Experiments</h2>
    <ul>
      <li><a href="{% url tardis.tardis_portal.views.experiment_index %}">Index</a></li>
      <li><a href="{% url tardis.tardis_portal.views.search_experiment %}">Search</a></li>
    </ul>
    {% if is_authenticated %}
        <br/>
        <h2>Controls</h2>
        <ul>
          <li><a href="{% url tardis.tardis_portal.views.create_experiment %}">Create Experiment</a></li>
          <li><a href="{% url tardis.tardis_portal.views.control_panel %}">Control Panel</a></li>
          <li><a href="{% url tardis.tardis_portal.views.manage_groups %}">Group Management</a></li>
        </ul>
        <br/>
        <h2>Account Management</h2>
        <ul>
          <li><a href="{% url tardis.tardis_portal.views.manage_auth_methods %}">Authentication Panel</a></li>
        </ul>
    {% endif %}
      </li>
    </ul>
{% endblock %}
