{% extends "tardis_portal/portal_template.html" %}

{% block content %}
    {% if object_list.count %}
    <h1>Search Equipment</h1>
    {% else %}
    No equipment found
    {% endif %}
    <table border="0" cellspacing="0" cellpadding="0">
        {% for eq in object_list %}
	<tr>
	  <td><a href="/equipment/{{ eq.id }}">{{ eq.key }}</a></td>
	  <td>{{ eq.type }}</td>
	  <td>{{ eq.make }}</td>
	  <td>{{ eq.model }}</td>
	  <td>{{ eq.serial }}</td>
        </tr>
	{% endfor %}
    </table>
{% endblock %}
