{% extends "tardis_portal/portal_template.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load facility_tags %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}

{% block content %}
    {% render_bundle 'tardis_portal_facility_view' %}
<div class="page-header">
    <h1 class="title">Facility Overview</h1>
</div>
<div ng-app="facilityOverview">
{% with request|check_if_facility_manager as facility_manager %}
<div id="content" class="container-fluid" ng-controller="FacilityController as facilityCtrl">
  {% verbatim %}
  <div class="row">
    <div class="col-md-6">
      <h2 class="float-start" style="color:#999999" ng-cloak>{{facilityCtrl.selectedFacilityName}}</h2>
    </div>
    <div class="col-md-6">
      <div class="dropdown show float-end" ng-show="facilityCtrl.showFacilitySelector()" ng-cloak>
        <button class="btn btn-outline-secondary dropdown-toggle"
           data-bs-toggle="dropdown">Facility: {{facilityCtrl.selectedFacilityName}}
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header"><strong>Select a facility</strong></h6>
            <a class="dropdown-item" ng-repeat="facility in facilityCtrl.facilities"
               href="#"
               ng-click="facilityCtrl.selectFacility(facility.id,facility.name)">
               {{facility.name}}
            </a>
        </div>
      </div>  <!-- div class="btn-group float-end" -->
    </div>
  </div>
  {% endverbatim %}
  {% if not facility_manager %}
    <div class="alert alert-block alert-danger">
      <span class="message"><strong>Whoops!</strong> You don't manage any facilities!</span>
    </div>
  {% else %}
    {% verbatim %}
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8" style="text-align: center" ng-cloak>
                  <!-- Data sorting options -->
                  <ul class="nav nav-tabs">
                    <li class="nav-item" ng-click="facilityCtrl.selectDataView(1); unsetFileListVisibility();">
                        <a class="nav-link"
                           ng-class="{ active:facilityCtrl.isDataViewSelected(1) }"
                           href="#">Latest data
                        </a>
                    </li>
                    <li class="nav-item" ng-click="facilityCtrl.selectDataView(2); facilityCtrl.unsetFileListVisibility();">
                        <a class="nav-link"
                           ng-class="{ active:facilityCtrl.isDataViewSelected(2) }"
                           href="#">Data by instrument
                        </a>
                    </li>
                    <li class="nav-item" ng-click="facilityCtrl.selectDataView(3); facilityCtrl.unsetFileListVisibility();">
                        <a class="nav-link"
                           ng-class="{ active:facilityCtrl.isDataViewSelected(3) }"
                           href="#">Data by user
                        </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <!-- Auto-refresh button -->
                  <div class="btn-group float-end" ng-cloak>
                    <button type="button" class="btn btn-outline-secondary btn-sm"
                            ng-click="facilityCtrl.fetchFacilityData(0,facilityCtrl.defaultFetchLimit); facilityCtrl.refreshCountdown = facilityCtrl.refreshInterval">
                      <i class="fa fa-refresh"></i>
                      Refresh
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
                            data-bs-toggle="dropdown">
                      Auto refresh
                      <span ng-show="facilityCtrl.refreshInterval === 0">(never)</span>
                      <span ng-hide="facilityCtrl.refreshInterval === 0">({{facilityCtrl.refreshCountdownFmt()}})</span>
                      <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                      <a href="#" class="dropdown-item"
                         ng-click="facilityCtrl.setRefreshInterval(0)">Never</a>
                      <a href="#" class="dropdown-item"
                         ng-click="facilityCtrl.setRefreshInterval(10)">Every
                          10 seconds</a>
                      <a href="#" class="dropdown-item"
                         ng-click="facilityCtrl.setRefreshInterval(30)">Every
                          30 seconds</a>
                      <a href="#" class="dropdown-item"
                         ng-click="facilityCtrl.setRefreshInterval(60)">Every
                          minute</a>
                      <a href="#" class="dropdown-item"
                         ng-click="facilityCtrl.setRefreshInterval(300)">Every
                          5 minutes</a>
                    </div>  <!-- dropdown-menu -->
                  </div>  <!-- btn-group float-end Auto-refresh button -->
                </div>  <!-- col-md-4 -->
            </div>  <!-- row -->
            <div class="row">
              <div class="col-md-12">
                <div class="progress progress-striped active"
                     ng-show="facilityCtrl.loading" style="margin-top: 20px;">
                    <div class="progress-bar"
                         style="width: 100%;">Loading data. Won't be
                        long!
                    </div>
                </div>
                <!-- Alert shown when there is no data available -->
                <div class="alert" ng-show="facilityCtrl.showDataUnvailableAlert()" ng-cloak>
                    <strong>No data available.</strong>
                    {{facilityCtrl.selectedFacilityName}} is not associated with any
                    datasets.
                    Please check that your desktop client is configured
                    configured to assign the correct
                    <em>instrument</em>
                    and <em>facility</em> attributes.
                </div>
                <div class="row" ng-show="facilityCtrl.datasets.length" ng-cloak>
                  <!-- Data filters -->
                  <div class="col-md-12">
                    <div class="card mb-2" style="border-top: 0">
                      <div class="card-body">
                        <form class="form-inline">
                      <div class="form-group me-2">
                        <label class="me-2">Filter by:</label>
                        <input type="text" class="input-small form-control"
                               placeholder="user name"
                               ng-model="facilityCtrl.search_owner.owner">
                      </div>
                      <div class="form-group me-2">
                        <label class="sr-only">Experiment:</label>
                        <input type="text" class="input-small form-control"
                               placeholder="experiment"
                               ng-model="facilityCtrl.search_experiment.parent_experiment.title">
                      </div>
                      <div class="form-group me-2">
                        <label class="sr-only">Instrument:</label>
                        <input type="text" class="input-small form-control"
                               placeholder="instrument"
                               ng-model="facilityCtrl.search_instrument.instrument.name">
                      </div>
                      <button type="button" class="btn btn-outline-secondary"
                              ng-click="facilityCtrl.filterFormReset()">
                          <i class="fa fa-remove"></i>
                          Clear filters
                      </button>
                    </form>
                      </div>
                    </div>
                  </div>  <!-- col-md-12 -->
                </div>  <!-- row -->
                <div class="row">
                  <!-- Latest data view -->
                  <div class="col-md-12"
                       ng-show="facilityCtrl.isDataViewSelected(1) && !facilityCtrl.loading"
                       ng-cloak>
                    <h2>Latest {{facilityCtrl.selectedFacilityName}} datasets</h2>
                    <table class="facility-datasets table table-striped table-bordered table-sm">
                      <tr>
                        <th>Owner</th>
                        <th>Group</th>
                        <th>Experiment</th>
                        <th>Dataset description</th>
                        <th>Instrument</th>
                        <th>Created</th>
                        <th></th>
                      </tr>
                      <tr ng-repeat-start="dataset in facilityCtrl.datasets | filter:facilityCtrl.search_owner:strict | filter:facilityCtrl.search_experiment:strict | filter:facilityCtrl.search_instrument:strict">
                        <td>{{dataset.owner}}</td>
                        <td>{{dataset.group}}</td>
                        <td><a href="/experiment/view/{{dataset.parent_experiment.id}}/" target="_blank">{{dataset.parent_experiment.title}}</a></td>
                        <td><a href="/dataset/{{dataset.id}}" target="_blank">{{dataset.description}}</a></td>
                        <td>{{dataset.instrument.name}}</td>
                        <td>{{dataset.created_time | date:'yyyy-MM-dd h:mma'}}</td>
                        <td>
                          <span ng-include="'showHideFileListButton'"></span>
                          <span ng-include="'datafileCount'"></span>
                        </td>
                      </tr>
                      <tr ng-repeat-end
                          ng-show="facilityCtrl.isFileListVisible(dataset.id)">
                        <td colspan="7">
                          <div ng-include="'fileList'"></div>
                        </td>
                      </tr>
                    </table>
                  </div>  <!-- col-md-12 Latest data view -->
                </div>  <!-- row -->
                <div class="row">
                  <!-- Data sorted by instrument view -->
                  <div class="col-md-12"
                       ng-show="facilityCtrl.isDataViewSelected(2) && !facilityCtrl.loading"
                       ng-cloak>
                    <h2>Latest {{facilityCtrl.selectedFacilityName}} datasets by
                        instrument</h2>
                    <table class="facility-datasets table table-striped table-bordered table-sm">
                      <tr>
                        <th>Owner</th>
                        <th>Group</th>
                        <th>Experiment</th>
                        <th>Dataset description</th>
                        <th>Created</th>
                        <th></th>
                      </tr>
                      <tbody ng-repeat="datasetByInstrument in facilityCtrl.dataByInstrument | filter:facilityCtrl.search_instrument:strict">
                      <tr>
                        <th style="text-align:center"
                            colspan="6">
                            {{datasetByInstrument.instrument.name}}
                        </th>
                      </tr>
                      <tr ng-repeat-start="dataset in datasetByInstrument.datasets | filter:facilityCtrl.search_owner:strict | filter:facilityCtrl.search_experiment:strict">
                        <td>{{dataset.owner}}</td>
                        <td>{{dataset.group}}</td>
                        <td><a href="/experiment/view/{{dataset.parent_experiment.id}}/" target="_blank">{{dataset.parent_experiment.title}}</a></td>
                        <td><a href="/dataset/{{dataset.id}}" target="_blank">{{dataset.description}}</a></td>
                        <td>{{dataset.created_time | date:'yyyy-MM-dd h:mma'}}</td>
                        <td>
                          <span ng-include="'showHideFileListButton'"></span>
                          <span ng-include="'datafileCount'"></span>
                        </td>
                      </tr>
                      <tr ng-repeat-end
                          ng-show="facilityCtrl.isFileListVisible(dataset.id)">
                        <td colspan="6">
                            <div ng-include="'fileList'"></div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>  <!-- col-md-12 Data sorted by instrument view -->
                </div>  <!-- row -->
                <div class="row">
                  <!-- Data sorted by user view -->
                  <div class="col-md-12"
                       ng-show="facilityCtrl.isDataViewSelected(3) && !facilityCtrl.loading"
                       ng-cloak>
                    <h2>Latest {{facilityCtrl.selectedFacilityName}} datasets by user</h2>
                    <table class="facility-datasets table table-striped table-bordered table-sm">
                      <tr>
                        <th>Experiment</th>
                        <th>Dataset description</th>
                        <th>Instrument</th>
                        <th>Created</th>
                        <th></th>
                      </tr>
                      <tbody ng-repeat="datasetByUser in facilityCtrl.dataByUser | filter:facilityCtrl.search_owner:strict">
                      <tr>
                        <th style="text-align:center"
                            colspan="6">
                            {{datasetByUser.ownerGroup}}
                        </th>
                      </tr>
                      <tr ng-repeat-start="dataset in datasetByUser.datasets | filter:facilityCtrl.search_experiment:strict | filter:facilityCtrl.search_instrument:strict">
                        <td><a href="/experiment/view/{{dataset.parent_experiment.id}}/" target="_blank">{{dataset.parent_experiment.title}}</a></td>
                        <td><a href="/dataset/{{dataset.id}}" target="_blank">{{dataset.description}}</a></td>
                        <td>{{dataset.instrument.name}}</td>
                        <td>{{dataset.created_time | date:'yyyy-MM-dd h:mma'}}</td>
                        <td>
                          <span ng-include="'showHideFileListButton'"></span>
                          <span ng-include="'datafileCount'"></span>
                        </td>
                      </tr>
                      <tr ng-repeat-end
                          ng-show="facilityCtrl.isFileListVisible(dataset.id)">
                        <td colspan="6">
                          <div ng-include="'fileList'"></div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>  <!-- col-md-12 Data sorted by user view -->
                  </div>  <!-- row -->
                  <div class="row">
                    <div class="col-md-12" style="text-align:center">
                      <button type="button" class="btn btn-outline-secondary"
                              ng-click="facilityCtrl.loadMoreEntries(50)"
                              ng-class="(facilityCtrl.currentFetchLimit >= facilityCtrl.totalDatasets)?'disabled':''"
                              ng-hide="facilityCtrl.loading"
                              ng-cloak>
                        Load more (showing {{facilityCtrl.datasets.length}} of {{facilityCtrl.totalDatasets}})
                      </button>
                    </div>
                </div>
                <!-- Reminder shown when filters are active -->
                <div class="alert alert-info"
                     ng-show="facilityCtrl.filtersActive()" ng-cloak>
                    <strong>Filter active!</strong> Some results not shown becuase you have a filter active. See more
                    results by <a href="#" ng-click="facilityCtrl.filterFormReset()">clearing your filters.</a>
                </div>
              </div>  <!-- col-md-12 -->
            </div>  <!-- row -->
            </div>
          </div>  <!-- well -->
        </div>  <!-- col-md-12 -->
    </div>  <!-- row  -->
</div>  <!-- id="content" -->
<script type="text/ng-template" id="showHideFileListButton">
  <button type="button" class="btn btn-sm btn-outline-secondary px-1 py-0"
          ng-click="facilityCtrl.toggleFileList(dataset)">
      <i class="fa fa-list-alt"></i>
      <span ng-hide="facilityCtrl.isFileListVisible(dataset.id)">Show</span>
      <span ng-show="facilityCtrl.isFileListVisible(dataset.id)">Hide</span>
      file list
  </button>
</script>
<script type="text/ng-template" id="datafileCount">
  <span class="badge"
        ng-class="(dataset.verified_datafiles_count<dataset.datafile_count||!dataset.datafile_count)?'bg-danger':'bg-info'">
    <ng-pluralize count="dataset.verified_datafiles_count"
                  when="{'0': 'no verified files', 'one': '1 verified file', 'other': '{} verified files'}">
    </ng-pluralize>
    ({{dataset.verified_datafiles_size | filesize}})
    /
    <ng-pluralize count="dataset.datafile_count"
                  when="{'0': 'no files', 'one': '1 file', 'other': '{} files'}">
    </ng-pluralize>
    ({{dataset.size | filesize}})
  </span>
</script>
<script type="text/ng-template" id="fileList">
    <div style="max-height: 200px; overflow-y: scroll;">
        <div ng-hide="dataset.datafiles">Loading datafiles...</div>
        <table class="table table-bordered table-sm table-striped"
               ng-show="dataset.datafiles">
            <tr>
                <th>File name</th>
                <th>Size</th>
                <th>Created</th>
                <th>Verified?</th>
            </tr>
            <tr ng-repeat="file in dataset.datafiles">
                <td>{{ file.filename }}</td>
                <td>{{ file.size | filesize }}</td>
                <td>
                    <span ng-show="file.created_time">{{ file.created_time | date:'yyyy-MM-dd h:mma' }}</span>
                    <span ng-hide="file.created_time">unknown</span>
                </td>
                <td>{{ file.verified }}</td>
            </tr>
        </table>
    </div>
</script>
</div> <!-- ng-app -->
{% endverbatim %}
{% endif %}
{% endwith %}
{% endblock %}
