{% extends "tardis_portal/portal_template.html" %}

{% block content %}

{% if form.errors %}
<p class="alert alert-danger">
  Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}
<div class="page-header">
  <h2 class="title">{{ header }}</h2>
</div>
<div class="row">
  <div class="col-lg-12">
  	<form enctype="multipart/form-data" action="" method="post"
          class="form-horizontal">
      {% csrf_token %}
      {% load bootstrap %}
      <fieldset>
  		  {{ form|bootstrap }}
      </fieldset>
      <div class="">
  	    <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  	</form>
  </div>
</div>
{% endblock %}

