{% extends "tardis_portal/portal_template.html" %}

{% block content %}

{% if form.errors %}
<p class="form-error" style="color: red;">
  Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}

  <div id="content">
    <div class="post">
      <h1 class="title"><a href="#">{{ header }}</a></h1>
      <div class="entry">
	<p>
	<form enctype="multipart/form-data" action="" method="post">
	  <table width="100%">
	    <tr valign="top">
	      <td>
		{% for field in form %}
		{{ field.label }}
		<br>
		{{ field }}
		{{ field.errors }}
		<br>
		<br>
		{% endfor %}
	      </td>
	    </tr>
	  </table>
	  <input type="submit" value="Submit">
	</form>
	</p>
      </div>
    </div>
  </div>

{% endblock %}

