{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}
{% load experiment_tags %}
{% load experimentstats %}
{% load bleach_tag %}

{% block script %}
{% endblock script %}

{% block content %}
<div id="content" class="container-fluid">
  <div class="page-header">
    <h1>{{site_title|default:'MyTardis'}} Data Store</h1>
  </div>
  {% if not is_authenticated %}
    <p>
      {% if RAPID_CONNECT_ENABLED %}
        Please <a href={{ RAPID_CONNECT_LOGIN_URL }}>login</a>
        to see your experiment data.
      {% else %}
        Please
        <a href="{% url 'tardis.tardis_portal.views.login' %}">login</a>
        to see your experiment data.
      {% endif %}
    </p>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      {% if is_authenticated %}
        <h3>Your most recent experiments <small><strong>(<a href="{% url 'tardis.tardis_portal.views.my_data' %}">view all</a>)</strong></small></h3>
        <div id="private-experiments" class="panel-group experiments">
          {% for exp in private_experiments %}
            <div class="accordion-group">
              <div class="accordion-heading" data-parent="#private-experiments">
                <div id="private-toggle-{{exp.id}}" class="accordion-toggle private-experiment" data-toggle="collapse"  data-parent="#private-experiments">
                  <input type="hidden" class="exp-index" value="{{ forloop.counter }}">
                  <strong><a class="pull-left"
                             href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}</a></strong>
                  <ul class="nav nav-pills badgelist">
                    <li class="ml-auto mr-2">{{ exp|experiment_public_access_badge }}</li>
                    <li class="mr-2">{{ exp|experiment_datafiles_badge }}</li>
                    <li class="mr-2">{{ exp|experiment_datasets_badge }}</li>
                    <li>{{ exp|experiment_last_updated_badge }}</li>
                  </ul>
                  <small>
                    {% for author in exp.experimentauthor_set.all %}
                      {% if not forloop.first %}, {% endif %}
                      <span property="dc:author">{{ author.author }}</span>
                    {% endfor %}
                    &nbsp;
                  </small>
                  <span class="pull-right">
                    {% for dltype, dlurl in exp.get_download_urls.items %}
                      {% if forloop.first %}
                        <a class="dllink" href="{{dlurl}}"
                           title="Download Entire Experiment as {{dltype}}">
                          <i class="fa fa-download"></i>
                          <em>Download data as .{{dltype}}</em>
                        </a>
                      {% endif %}
                    {% endfor %}
                  </span>
                </div> {% comment %}class="accordion-toggle private-experiment"{% endcomment %}
              </div> {% comment %}class="accordiong-heading"{% endcomment %}
              <div id="collapse-{{exp.id}}"
                   class="panel-collapse collapse">
                <div class="accordion-inner">
                  <p>{{exp.description|default:"<em>No description</em>"|bleach}}</p>
                  <div id="private-recent-datasets-{{exp.id}}"></div>
                </div> {% comment %}class="accordion-inner"{% endcomment %}
              </div> {% comment %}class="accordion-body"{% endcomment %}
            </div> {% comment %}class="accordion-group"{% endcomment %}
            {% empty %}
            <p>You have no data stored on this server.<br/>
            <a href="{% url 'tardis.tardis_portal.views.create_experiment' %}">Create
            a new experiment</a> and upload your data</p>
          {% endfor %}
          <br/>
        </div> {% comment%}id="private-experiments" class="panel-group experiments"{% endcomment %}
      {% endif %}

      {% with total=public_experiments|length %}
        <h3>The {{ total }} most recent public experiment{{total|pluralize}}</h3>
      {% endwith %}
      <div id="public-experiments" class="panel-group experiments">
      {% for exp in public_experiments %}
        <div class="accordion-group">
          <div class="accordion-heading" data-parent="#public-experiments">
            <div id="public-toggle-{{exp.id}}" class="accordion-toggle public-experiment" data-toggle="collapse"  data-parent="#public-experiments">
              <input type="hidden" class="exp-index" value="{{ forloop.counter }}">
              <strong><a class="pull-left"
                         href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}</a></strong>
              <ul class="nav nav-pills badgelist">
                <li class="ml-auto mr-2">{{ exp|experiment_datafiles_badge }}</li>
                <li class="mr-2">{{ exp|experiment_datasets_badge }}</li>
                <li class="mr-2">{{ exp|experiment_last_updated_badge }}</li>
              </ul>
              <small>
                {% for author in exp.experimentauthor_set.all %}
                  {% if not forloop.first %}, {% endif %}
                  <span property="dc:author">{{ author.author }}</span>
                {% endfor %}
                &nbsp;
              </small>
              <span class="pull-right">
                {% if exp.public_download_allowed %}
                  {% for dltype, dlurl in exp.get_download_urls.items %}
                    {% if forloop.first %}
                      <a class="dllink" href="{{dlurl}}"
                         title="Download Entire Experiment as {{dltype}}">
                        <i class="fa fa-download"></i>
                        <em>Download data as .{{dltype}}</em>
                      </a>
                    {% endif %}
                  {% endfor %}
                 {% endif %}
              </span>
            </div> {% comment %}class="accordion-toggle public-experiment"{% endcomment %}
          </div> {% comment %}class="accordion-heading"{% endcomment %}
          <div id="collapsepub-{{exp.id}}"
               class="panel-collapse collapse">
            <div class="accordion-inner">
              <p>{{exp.description|default:"<em>No description</em>"|bleach}}</p>
              <div id="public-recent-datasets-{{exp.id}}"></div>
            </div> {% comment %}class="accordion-inner"{% endcomment %}
          </div> {% comment %}class="accordion-body"{% endcomment %}
        </div> {% comment %}class="accordion-group"{% endcomment %}
        {% empty %}
        <p>There is no public data available on this server.</p>
      {% endfor %}
      </div> {% comment %}id="public-experiments" class="panel-group experiments"{% endcomment %}
    </div> {% comment %}class="col-md-12"{% endcomment %}
  </div> {% comment %}class="row"{% endcomment %}
</div> {% comment %}id="content"{% endcomment %}
<input type="hidden" id="exps-expand-accordion" value="{{ exps_expand_accordion }}">
{% render_bundle 'tardis_portal_index' %}
{% endblock content %}
