<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery-1.7.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/jqmodal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/flash_detect_min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/lib/underscore.string.min.js"></script>
<script type="text/javascript">
  // Mixin Underscore.String to Underscore.js
  _.mixin(_.string.exports());
</script>

<link href="{{ STATIC_URL }}/css/lib/jqmodal.css" rel="stylesheet" type="text/css" media="screen">
<link type="text/css" href="{{ STATIC_URL }}/css/lib/autocomplete/jquery.autocomplete.css" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}/css/lib/theme/ui.all.css" rel="Stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}/css/lib/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}/css/lib/cc-widget-style.css" rel="stylesheet" type="text/css" media="screen">

<script type="text/javascript" src="{{ STATIC_URL }}/js/main.js"></script>