{% extends "tardis_portal/portal_template.html" %}
{% load bootstrap %}

{% block content %}

<div class="page-header">
  <h1>Login</h1>
</div>

<div class="page-content">

{% if RAPID_CONNECT_ENABLED %}
<div class="row-fluid">
  <div class="span4">
    <a href={{ RAPID_CONNECT_LOGIN_URL }} class="btn btn-large btn-info">
      <i class="icon-signin"></i>
      Login via the Australian Access Federation
    </a>
  </div> 
  <div class="span2">
    <img src="https://rapid.aaf.edu.au/aaf_service_223x54.png"
	style="height: 54px;" > 
  </div> 
</div>
{% endif %}

{% if CAS_ENABLED %}
<div class="row-fluid">
  <div class="span4">
    <a href={{ CAS_LOGIN_URL }} class="btn btn-large btn-info">
      <i class="icon-signin"></i>
      Login via the Central Authentication Service
    </a>
  </div> 
  <div class="span2">
    <img src="https://www.apereo.org/sites/default/files/styles/project_logo/public/projects/logos/cas_max_logo_0.png"
    class="center-block"
    style="height: 54px;" >
  </div>
</div>
{% endif %}

<div class="row-fluid">
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
      <input name="next_page" type="hidden" value="{{ next_page }}" />
      <fieldset>
        <div class="span4">
          <button type="submit" class="btn btn-info btn-large">
            <i class="icon-signin"></i> 
            Login via Local DB
          </button>
        </div>
        <div class="span4">
      		{{ loginForm|bootstrap }}
      	</div>
      </fieldset>
    </form>
</div>

</div>
{% endblock content %}
