{% extends "tardis_portal/portal_template.html" %}
{% load bootstrap %}

{% block content %}

{% if RAPID_CONNECT_ENABLED %}
	<legend>Australia Access Federation</legend>
    <p>
    <img src="https://rapid.aaf.edu.au/aaf_service_223x54.png"> 
    <a href={{ RAPID_CONNECT_LOGIN_URL }} class="btn btn-large btn-info">
    	<i class="icon-signin"></i>
    	Login via the Australian Access Federation
    </a> 
    </p>
{% endif %}

{% if CAS_ENABLED %}
	<legend>Central Authentication Service</legend>
    <p>
    <img src="https://www.apereo.org/sites/default/files/styles/project_logo/public/projects/logos/cas_max_logo_0.png"> </p>
    <a href={{ CAS_LOGIN_URL }} class="btn btn-large btn-info">
    	<i class="icon-signin"></i>
    	Login via the Central Authentication Service
    </a>
    </p>
{% endif %}

	<legend>Local Database</legend>
	<form action="" method="post" class="form-horizontal">{% csrf_token %}
      <input name="next_page" type="hidden" value="{{ next_page }}" />
      <fieldset>
        <legend>Please Log In</legend>
        {{ loginForm|bootstrap }}
        <div class="form-actions">
          <button type="submit" class="btn btn-info btn-large">
            <i class="icon-signin"></i> 
            Login via Local DB
          </button>
        </div>
      </fieldset>
    </form>

{% endblock content %}
