{% extends "tardis_portal/portal_template.html" %}

{% block content %}

{% if RAPID_CONNECT_ENABLED %}

    <legend>Please Log In</legend>

    <p> User authentication on this system is managed by the Australian Access Federation. Click the blue button below to log in. </p>
    <br><br>
    <p><img src="https://rapid.aaf.edu.au/aaf_service_223x54.png" alt="AAF Rapid Connect"> </p>
    <br><br>
    <p> <a href={{ RAPID_CONNECT_LOGIN_URL }} class="btn btn-lg btn-primary">LOGIN VIA THE AUSTRALIAN ACCESS FEDERATION</a> </p>

{% else %}

<div class="container pt-2">
 <div class="row">
  <div class="col-md-7">
    <h3>Please Log In</h3>
    <form id="login-form" action method="post">
      {% csrf_token %}
      <input name="next_page" type="hidden" value="{{ next_page|default:"/" }}" />
      <div class="row mb-3">
        <label class="col-form-label col-md-2" for="id_username">Username</label>
        <div class="col-md-5">
          <input type="text" name="username" class="form-control" id="id_username" required placeholder="username">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-form-label col-md-2" for="id_password">Password</label>
        <div class="col-md-5">
          <input type="password" name="password" class="form-control" id="id_password" required placeholder="password">
        </div>
      </div>
      <div class="row mb-3">
        <div class="offset-md-2 col-md-5 ps-1">
          <button id="login-button" type="submit" class="btn btn-primary">
            <i class="fa fa-sign-in"></i> Log In
          </button>
        </div>
      </div>
    </form>
  </div>
 </div>
</div>

{% endif %}

{% endblock content %}
