{% extends "tardis_portal/data_browsing_template.html" %}

{% block script %}

{% include "tardis_portal/javascript_libraries.html" %}

<script type="text/javascript">
// Black magic to use jQuery UI autocomplete
// while obsolete autocomplete plugin is loaded.
$(function() {
  $.widget.bridge('ui_autocomplete', $.ui.autocomplete)
});

var autocompleteCallback = function(query, callback) {
  var authMethod = $("#id_authMethod").val()
  var matches = _(this.users).chain()
    // Filter out users which don't match auth method
    .filter(function(user) {
      // authMethods: ["testuser:localdb:Local DB"]
      return _(user.auth_methods).any(function(v) {
        return v.split(':')[1] == authMethod;
      })
    })
    // Filter out those that don't have a matching field
    .filter(function(user) {
      var fields = ['username', 'email', 'first_name', 'last_name'];
      // Select user if any of the fields above match
      return _(fields).any(function(fieldName) {
        var field = user[fieldName].toLowerCase();
        return _.str.include(field, query.term.toLowerCase());
      });
    })
    // Map to label/value objects
    .map(function(user) {
      var tmpl = "<%=first_name%> <%=last_name%> [<%=username%>] <<%=email%>>";
      // Create label and trim empty email
      var label = _.template(tmpl, user).replace(' <>','');
      return { 'label': label, 'value': user.username };
    }).value();
  // Callback to autocomplete control
  callback(matches);
};


$("#user.form_submit").live('click', function(evt) {
    evt.preventDefault();
    var authMethod = $(this).siblings("#id_authMethod").val();
    var usersuggest = $(this).siblings(".usersuggest").val();
    var group_id = $(this).siblings(".group_id").val();
    var users_div = $(this).parents('.access_list').children('.users');
    var isAdmin = $(this).siblings(".isAdmin").is(':checked');
    var action = '/group/' + group_id + '/add/' + usersuggest + '/?isAdmin=' + isAdmin + '&authMethod=' + authMethod;
    $.ajax({
      type: "GET",
      url: action,
      success: function(data) {
        if (_(data).startsWith("<div class=", true) == true) {
         users_div.hide().append(data).fadeIn();
        } else {
         alert(data);
        }
      },
      error: function(data) {
         alert('Error adding user');
      }
    });
});
$(".remove_user").live('click', function(evt) {
    evt.preventDefault();

    var access_list = $(this).parents('.access_list_user');

    $.ajax({
      'url': $(this).attr('href'),
      'success': function (data) {
        if (data === "OK") {
          access_list.fadeOut(500);
        } else {
          alert(data);
        }
      }
    });
});
$(document).ready(function() {

    var loadingHTML = "<img src='{{ STATIC_URL }}/images/ajax-loader.gif'/><br/>";

    $(".member_list_user_toggle").click(function(evt){
        evt.preventDefault()

        var icon = $(this).find('.ui-icon');
        icon.toggleClass('ui-icon-circle-triangle-e ui-icon-circle-triangle-s');
        $(this).toggleClass('members-shown members-hidden');

        var user_list = $(this).parents('.group').find('.access_list');
        // If not showing members, just hide user list
        if (!$(this).hasClass('members-shown')) {
          user_list.hide();
          return;
        }

        user_list.html(loadingHTML);
        // Load (jQuery AJAX "load()") and show access list
        user_list.load(this.href, function() {
          // Load user list for
          $.ajax({
            'dataType': 'json',
            'url': '/ajax/user_list/',
            'success': function(users) {
              $("#id_adduser").ui_autocomplete({
            	  'source': _.bind(autocompleteCallback, { 'users': users })
              });
            }
          });
        }).show();
    });
});
</script>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="post">
            <h1 class="title"><a href="#">Manage Group Members</a></h1>
            <div class="entry">
                <br/>
                <p>
                {% if groups %}
                    <table class="member-table">
                        {% for group in groups %}
                            <tr>
                                <td>
                                  <div class="group">
                                    {{ group.name }}
                                    <a href="{% url tardis.tardis_portal.views.retrieve_group_userlist group.id %}" class="members-hidden member_list_user_toggle fg-button small ui-state-default fg-button-icon-solo ui-corner-all">
                                        <span class="ui-icon ui-icon-circle-triangle-e"></span>
                                    </a>
                                    <div class="access_list" style="display:none;"></div>
                                  </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    There are no groups under your control.
                {% endif %}
              </p>
            </div>
        </div>
    </div>
{% endblock %}
