{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load capture %}

{% block content %}

<div id="content">
  <div class="row">
    <div class="col-md-9">
      <h2 class="visible-xs">Experiments</h2>
      <div class="pull-right">
        {% if perms.tardis_portal.add_experiment %}
        <a id="create-experiment"
           class="btn btn-warning"
           href="{% url 'tardis.tardis_portal.views.create_experiment' %}">
          <i class="fa fa-plus"></i>
          Create
        </a>
        {% endif %}
{#        <a class="btn btn-primary"#}
{#           href="{% url 'tardis.search.views.search_experiment' %}">#}
{#          <i class="fa fa-search"></i>#}
{#          Search#}
{#        </a>#}
      </div>  <!-- class="pull-right" -->
      <div class="pull-left">
        <h2 class="hidden-xm" style="text-align: center">Experiments</h2>
      </div>
    </div>  <!-- class="col-md-9" -->
  </div>  <!-- class="row" -->

  <div class="row">
    <div class="col-md-9">
      {% if not owned_experiments %}
      <p class="alert alert-info">
        You do not have access to any private experiments.
      Add your own experiments or browse the public experiments.</p>
      {% endif %}

      {% if owned_experiments %}
      <div class="pull-left">
        <h3><strong>{{ owned_experiments.count }}</strong>
        Experiment{{ owned_experiments.count|pluralize}} You Own
        </h3>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success btn-xs"
                onclick="$('#myowned .panel-collapse').collapse('hide');" >
        Collapse all</button>
        <button type="button" class="btn btn-success btn-xs"
                onclick="$('#myowned .panel-collapse').collapse('show');" >
        Expand all</button>
      </div>
      <div class="clearfix"></div>
      <div id="myowned" class="mydata accordion experiments"></div>
      <br/>
      {% endif %}

    </div>  <!-- class="col-md-9" -->
  </div>  <!-- class="row" -->
</div>  <!-- id="content" -->

<input type="hidden" id="exps-expand-accordion" value="{{ exps_expand_accordion }}">
{% render_bundle 'tardis_portal_my_data' %}
{% endblock %}
