{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load capture %}

{% block content %}

<div id="content">
  <div class="row-fluid">
    <div class="span9">
      <h2 class="visible-phone">Experiments</h2>
      <div class="pull-right">
        {% if perms.tardis_portal.add_experiment %}
        <a class="btn btn-warning"
           href="{% url 'tardis.tardis_portal.views.create_experiment' %}">
          <i class="icon-plus"></i>
          Create
        </a>
        {% endif %}
{#        <a class="btn btn-primary"#}
{#           href="{% url 'tardis.views.views.search_experiment' %}">#}
{#          <i class="icon-search"></i>#}
{#          Search#}
{#        </a>#}
      </div>  <!-- class="pull-right" -->
      <div class="pull-left">
	<h2 class="hidden-phone" style="text-align: center">Experiments</h2>
      </div>
    </div>  <!-- class="span9" -->
  </div>  <!-- class="row-fluid" -->

  <div class="row-fluid">
    <div class="span9">
      {% if not shared_experiments and not owned_experiments %}
      <p class="alert alert-info">
	You do not have access to any private experiments.
      Add your own experiments or browse the public experiments.</p>
      {% endif %}

      {% if owned_experiments %}
      <div class="pull-left">
	<h3><strong>{{ owned_experiments.count }}</strong>
	Experiment{{ owned_experiments.count|pluralize}} You Own
	</h3>
      </div>
      <div class="pull-right">
	<button class="btn btn-success btn-mini"
		onclick="$('#myowned .accordion-body').collapse('hide');" >
	Collapse all</button>
	<button class="btn btn-success btn-mini"
		onclick="$('#myowned .accordion-body').collapse('show');" >
	Expand all</button>
      </div>
      <div class="clearfix"></div>
      <div id="myowned" class="mydata accordion"></div>
      <br/>
      {% endif %}

      {% if shared_experiments %}
      <div class="pull-left">
	<h3><strong>{{ shared_experiments.count }}</strong>
	Shared Experiment{{ shared_experiments.count|pluralize }}</h3>
      </div>
      <div class="pull-right">
	<button class="btn btn-success btn-mini"
		onclick="$('#myshared .accordion-body').collapse('hide');" >
	Collapse all</button>
	<button class="btn btn-success btn-mini"
	        onclick="$('#myshared .accordion-body').collapse('show');" >
	Expand all</button>
      </div>
      <div class="clearfix"></div>
      <div id="myshared" class="mydata accordion"></div>
      {% endif %}
    </div>  <!-- class="span9" -->
  </div>  <!-- class="row-fluid" -->
</div>  <!-- id="content" -->
<script type="text/javascript">
$(document).ready(function(){
  // Load owned exps on page load
  $('#myowned').load('{% url 'tardis.tardis_portal.views.retrieve_owned_exps_list' %}');

  // Create a reload event handler
  $('#myowned').on('reload', function() {
    $(this).load('{% url 'tardis.tardis_portal.views.retrieve_owned_exps_list' %}');
  });

  // Load shared exps on page load
  $('#myshared').load('{% url 'tardis.tardis_portal.views.retrieve_shared_exps_list' %}');

  // Create a reload event handler
  $('#myshared').on('reload', function() {
    $(this).load('{% url 'tardis.tardis_portal.views.retrieve_shared_exps_list' %}');
  });
});

var loadingHTML = $('<img src="{% static 'images/ajax-loader.gif' %}"/><br />');

$('.pagelink').live('click', function( event ){
  var href = $(this).attr("href");
  var html = $(this).html();
  $(this).html(loadingHTML);
  $('#myowned').load(href, function(){
  });
  return false;
});
</script>
{% endblock %}
