{% extends "tardis_portal/portal_template.html" %}

{% block content %}

<div id="content">
  <div class="post">
    <h1 class="title"><a href="abouttardis">Partners</a></h1>
    <div class="entry">
      <p><a href="http://www.monash.edu.au"><img src="/site_media/images/monash.png" alt="monash university"/></a></p>
      <p class="institutionName">Monash University (Lead institution)</p>
      <a href="http://www.med.monash.edu.au/biochem/staff/abuckle.html">A. Prof. Ashley M. Buckle</a><br />
      <a href="mailto:steve.androulakis@monash.edu">Steve Androulakis</a><br />
      <a href="http://research.med.monash.edu.au/whisstock">Prof. James C. Whisstock</a>
      <br/>
      <br/>
      <p><a href="http://ands.org.au/"><img src="/site_media/images/ands.png" alt="australian national data service"></a></p>
      <p class="institutionName">Australian National Data Service</p>
      <br/>
      <br/>
      <p><a href="https://www.versi.edu.au/"><img src="/site_media/images/VeRSI.png" alt="versi"></a></p>
      <p class="institutionName">VeRSI</p>
      <br/>
      <br/>
	<p><a href="http://rmit.edu.au/"><img src="http://mams.rmit.edu.au/obgpol8mt5lz.gif" alt="rmit"></a></p> 
                                <p class="institutionName">RMIT</p> 

			<a href="http://www.cs.rmit.edu.au/dsn/view_user.php?user=hws">Heinz Schmidt</a><br/> 
			Ian Thomas</br>	
                        <br/><br/>
      <p><a href="http://www.usyd.edu.au/"><img src="/site_media/images/unisyd.png" alt="University of Sydney" /></a></p>
      <p class="institutionName">University of Sydney</p>
      <a href="http://www.usyd.edu.au/">http://www.usyd.edu.au</a><br />
      Peter Turner <br/>
      Jim Richardson <br/>
      Mitchell Guss <br/>
      <br/>
      <br/>
      <p><a href="http://www.uq.edu.au"><img src="/site_media/images/uq.png" alt="university of queensland" /></a><a href="http://www.imb.uq.edu.au"><img style="padding-left: 7px" src="/site_media/images/imblogo.gif" alt="imb uq" /></a></p>
      <p class="institutionName">University of Queensland / Institute for Molecular Bioscience</p>
      <a href="http://www.imb.uq.edu.au/index.html?page=14040&amp;pid=0">Prof. Jenny Martin</a><br />
      <a href="http://www.itee.uq.edu.au/~jane/">Prof. Jane Hunter</a><br />
      <a href="http://profiles.bacs.uq.edu.au/Bostjan.Kobe.html">Prof. Bostjan Kobe</a><br />
      Dr Brett Collins<br />
      <a href="http://www.uq.edu.au/uqresearchers/researcher/guddatlw.html">Dr. Luke Guddat</a>
      <br/>
      <br/>
      <p><a href="http://www.svi.edu.au"><img src="/site_media/images/st_vincents.png" alt="st vincents" /></a><a href="http://www.unimelb.com.au/"></a></p>
      <p class="institutionName">St. Vincent's Health Melbourne</p>
      <a href="http://www.svi.edu.au/index.cfm?objectID=87FC3310-C511-C763-E26610D75551FDAA">Prof. Michael Parker</a>
      <br/>
      <br/>
      <p><a href="http://www.bio21.com.au/"><img src="/site_media/images/bio21logo.png" alt="bio21" /></a></p>
      <p class="institutionName">Bio21 Institute / University of Melbourne</p>
      Ren Dobson
      <br/>
      <br/>
      <a href="http://www.bio21.com.au">http://www.bio21.com.au</a><br />
      <a href="http://www.unimelb.edu.au">http://www.unimelb.edu.au</a>
      <br/>
      <br/>
      <p><a href="http://www.csiro.au/"><img src="/site_media/images/csiro.png" alt="csiro" /></a><a href="http://www.ivec.org/"><img src="/site_media/images/ivec.png" alt="ivec" /></a></p>
      <p class="institutionName">CSIRO / iVEC</p>
      Robert Mollard <br/>
      Ankur Sharda <br/>
      <br/>
      <br/>
      <p><a href="http://www.anu.edu.au"><img src="/site_media/images/anu.jpg" alt="ANU" /></a></p>
      <p class="institutionName">The Australian National University</p>
      <a href="http://www.anu.edu.au">http://www.anu.edu.au</a><br />
      <br/><br/>
      <p><a href="http://ecrystals.chem.soton.ac.uk/"><img src="/site_media/images/ecrystals.png" alt="eCrystals" /></a></p>
      <p class="institutionName">eCrystals Federation Project</p>
      <a href="http://ecrystals.chem.soton.ac.uk/">http://ecrystals.chem.soton.ac.uk</a><br />
      <br/>
      <br/>
      <p><a href="http://www.soton.ac.uk/"><img src="/site_media/images/southampton.png" alt="University of Southampton" /></a></p>
      <p class="institutionName">University of Southampton</p>
      <a href="http://www.soton.ac.uk/">http://www.soton.ac.uk</a><br />
      <a href="http://www.ncs.chem.soton.ac.uk/simon.htm">Simon Coles</a><br />
      <br/>
      <br/>
    </div> <!-- entry -->
  </div> <!-- post -->
</div> <!-- content -->
{% endblock content %}
{% block sidebar %}
<ul>
  <li>
    <h2>Partners</h2>
    <ul>
      <li><a href="http://www.monash.edu.au">Monash University</a></li>
      <li><a href="http://ands.org.au/">ANDS</a></li>
      <li><a href="https://www.versi.edu.au/">VeRSI</a></li>
	  <li><a href="https://www.rmit.edu.au/">RMIT</a></li>
      <li><a href="http://www.usyd.edu.au/">University of Sydney</a></li>
      <li><a href="http://www.uq.edu.au">University of Queensland</a></li>
      <li><a href="http://www.uq.edu.au">Institute for Molecular Bioscience</a></li>
      <li><a href="http://www.bio21.com.au/">Bio21 Institute</a></li>
      <li><a href="http://www.unimelb.edu.au">University of Melbourne</a></li>
      <li><a href="http://www.svi.edu.au/index.cfm?objectID=87FC3310-C511-C763-E26610D75551FDAA">St. Vincent's Health Melbourne</a></li>
      <li><a href="http://www.csiro.au/">CSIRO / iVEC</a></li>
      <li><a href="http://www.anu.edu.au">ANU</a></li>
      <li><a href="http://ecrystals.chem.soton.ac.uk/">eCrystals</a></li>
      <li><a href="http://www.soton.ac.uk/">Southampton</a></li>
    </ul>
  </li>
</ul>
{% endblock sidebar %}
