<!DOCTYPE html>
{% load static from staticfiles %}
{% load facility_tags %}
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      prefix="xsd: http://www.w3.org/2001/XMLSchema#
              dc: http://purl.org/dc/elements/1.1/"
      class="no-js" ng-app="MyTardis">
  <!--
    RDFa Core 1.1 uses the "prefix" element for namespace declarations.

    For more information, see:
    http://www.w3.org/TR/rdfa-core/#scoping-of-prefix-mappings
   -->
  <!--
  The "no-js" class is removed by Modernizer when it runs, which allows CSS
  theming for JS-less environments.
  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% block title %}
    <title>{{ site_title|default:'MyTardis' }} {% if subtitle %}- {{ subtitle }} {% endif %}</title>
    {% endblock title %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    {% include "tardis_portal/javascript_libraries.html" %}

    {% block script %}
    {% endblock script %}

    <script type="text/javascript">
    // Set active nav button
    $(function() {
        var data = false;
	if(window.location.pathname.match("^\/experiment")
          || window.location.pathname.match("^\/dataset"))
	{
	    data = true;
	}

        $('.nav a').each(function(i,v) {
            if ($(v).attr('href') == window.location.pathname
	    || ($(v).attr('href').match("^\/experiment/view/") &&
                data)) {
                  $(v).parent().addClass('active');
            }
        });
    });
    </script>

    <script type="text/javascript">
    // Define canvas HTML
    canvas = '<canvas style="width: 100px"></canvas>';
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon-iphone.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-ipad.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-iphone4.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-ipad3.png' %}">


    {% block style %}
    {% endblock style %}


    {% block analytics_js %}
    {# You should override this block if you want to use Google Analytics #}
    {# or another Javascript-based analytics tool. #}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% block site_brand %}
          <span class="brand"><a href="{% url 'tardis.tardis_portal.views.index' %}">{{ site_title|default:'MyTardis' }}</a></span>
          {% endblock %}
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{% url 'tardis.tardis_portal.views.index' %}">Home</a></li>
              <li><a href="{% url 'tardis.tardis_portal.views.about' %}">About</a></li>
              <li><a href="{% url 'tardis.tardis_portal.views.my_data' %}">My Data</a></li>
              <li><a href="{% url 'tardis.tardis_portal.views.public_data' %}">Public Data</a></li>
              <li><a href="{% url 'tardis.tardis_portal.views.stats' %}">Stats</a></li>
              {% with request|check_if_facility_manager as facility_manager %}
              {% if facility_manager %}
              <li><a href="{% url 'tardis.tardis_portal.views.facility_overview' %}">Facility Overview</a></li>
              {% endif %}{% endwith %}
              <li><a href="{% url 'tardis.tardis_portal.views.user_guide' %}"><b>Help</b></a></li>
            </ul>
            <ul class="login-nav nav pull-right">
            {% if is_authenticated %}
              <li id="user-menu" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#user-menu">
                  {{ username }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {% if manage_account_enabled %}
                      <li>
                        <a href="{% url 'tardis.tardis_portal.views.manage_user_account' %}">
                          <!-- Font Awesome needs a "link" icon! -->
                          <i class="icon-user"></i>
                          Manage Account
                        </a>
                      </li>
                  {% endif %}
		  {% if request.user.api_key.key %}
                  <li>
                    <a href="{% url 'tardis.tardis_portal.download.download_api_key' %}">
                      <!-- Font Awesome needs a "link" icon! -->
                      <i class="icon-key"></i>
                      Download Api Key
                    </a>
                  </li>
		  {% endif %}
                  {% if perms.tardis_portal.change_userauthentication %}
                  <li>
                    <a href="{% url 'tardis.tardis_portal.views.manage_auth_methods' %}">
                      <!-- Font Awesome needs a "link" icon! -->
                      <i class="icon-tags"></i>
                      Link Accounts
                    </a>
                  </li>
                  {% endif %}
                  {% if is_superuser %}
                  <li>
                    <a href="{% url 'admin:index' %}">
                      <i class="icon-key"></i>
                        Admin Interface
                    </a>
                  </li>
                  {% endif %}
                  {% if perms.tardis_portal.change_objectacl or perms.auth.change_group %}
                  <li class="divider"></li>
                  <!-- {% if perms.tardis_portal.change_objectacl %}
                  <li>
                    <a href="{% url 'tardis.tardis_portal.views.control_panel' %}">
                      <i class="icon-user"></i>
                      Experiment Access
                    </a>
                  </li>
                  {% endif %} -->
                  {% if perms.auth.change_group or perms.auth.change_user %}
                  <li>
                    <a href="{% url 'tardis.tardis_portal.views.manage_groups' %}">
                      <i class="icon-user" style="text-shadow: 2px -2px #666666"></i>
                      Group Management
                    </a>
                  </li>
                  {% endif %}
                  <li class="divider"></li>
                  {% endif %}
                  <li>
                    <a href="{% url 'django.contrib.auth.views.logout' %}">
                      <i class="icon-signout"></i>
                      Log Out
                    </a>
                  </li>
                </ul>
              </li>
            {% else %}
              <!-- -------------------- -->
              <!-- Registration Button  -->
              <!-- -------------------- -->
              {% if registration_enabled %}
              <li>
                <a href="{% url 'register' %}">
                  Register
                </a>
              </li>
              {% endif %}
              <!-- -------------------- -->
              <!-- Default Login Button -->
              <!-- -------------------- -->
              <li>
                  <a id="login-button" class="btn btn-info" 
              {% if DEFAULT_LOGIN|lower = 'aaf' %}
                  href={{ RAPID_CONNECT_LOGIN_URL }}
              {% elif DEFAULT_LOGIN|lower = 'cas' %}
                  href={{ CAS_LOGIN_URL }}
              {% else %}
                  href="{% url 'tardis.tardis_portal.views.login' %}"
              {% endif %}
		  			>
                  <i class="icon-signin"></i>
                  Log In
                </a>
              </li>
              <!-- -------------------- -->
              <!-- Optional Logins -->
              <!-- -------------------- -->
              {% if RAPID_CONNECT_ENABLED or CAS_ENABLED %}
              <li>
               <ul class="dropdown-menu">
                  {% if RAPID_CONNECT_ENABLED %}
                  <li>
              		<a id="login-button" class="btn btn-info" 
                  		href={{ RAPID_CONNECT_LOGIN_URL }} >
                  		<i class="icon-signin"></i>
                  		Login using AAF
                	</a>
                  </li>
                  {% endif %}
              	  {% if CAS_ENABLED %}
              	  <li>
              	  	<a id="login-button" class="btn btn-info" 
                  		href={{ CAS_LOGIN_URL }} >
                  		<i class="icon-signin"></i>
                  		Login using CAS
                	</a>
                  </li>
                  {% endif %}
              	  {% if DEFAULT_LOGIN|lower == 'aaf' or DEFAULT_LOGIN|lower == 'cas' %}
              	  <li>
              	  	<a id="login-button" class="btn btn-info" 
                  		href="{% url 'tardis.tardis_portal.views.login' %}" >
                  		<i class="icon-signin"></i>
                  		Login using Local DB
                	</a>
                  </li>
                  {% endif %}	
                </ul>
              </li>
              <!-- -------------------- -->
              {% endif %}
            {% endif %}
            </ul>
            {% if search_form %}
            <form id="searchbox" method="get"
                class="navbar-search pull-right"
                action="{% url 'tardis.tardis_portal.views.single_search' %}">
              <input id="id_q" autocomplete="off"
                   type="text" class="search-query" placeholder="Search"
                   {% if query %} value="{{ query }}" {% endif %}/>
            </form>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% if subtitle %}
      <!-- Subtitle: {{ subtitle }} -->
      {% endif %}

      <script type="text/javascript">
	var showMsg = {
	    type: "",
	    showAlert: function(text) {
		$('#message-container').html(
		    '<div class="alert ' +
			this.type +
			'"><a class="close" data-dismiss="alert">×</a><span>' +
			text +
			'</span></div>');
	    },
	    success: function(text) {
		this.type = "alert-success";
		this.showAlert(text);
	    },
	    info: function(text) {
		this.type = "alert-info";
		this.showAlert(text);
	    },
	    error: function(text) {
		this.type = "alert-error";
		this.showAlert(text);
	    }
	};
      </script>

      <div id="message-container"></div>

      {% if messages %}
	  <div id="django-message-container" >
        {% for message in messages %}
        <p{% if message.tags %} class="alert alert-block alert-{{ message.tags }}"{% endif %}>
        	<a class="close" data-dismiss="alert">&times;</a>
        	{{ message }}
        </p>
        {% endfor %}
      </div>
      {% endif %}

      <div id="status-alert"
           class="alert alert-block {% if error %}alert-error{% endif %}"
           style="display: none">
        <a class="close" data-dismiss="alert">&times;</a>
        <span class="message">{{status}}</span>
        <script type="text/javascript">
        $(function() {
          if(window.location.hash == '#created') {
            $('#status-alert .message').text('Experiment Created');
          } else if(window.location.hash == '#saved') {
              $('#status-alert .message').text('Experiment Saved');
          } else if(window.location.hash.indexOf('#error:') == 0) {
	      showMsg.error(decodeURIComponent(window.location.hash.substr(7)));
	      window.location.hash = "";
	      var scrollV, scrollH, loc = window.location;
	      if ("pushState" in history)
		  history.pushState("", document.title, loc.pathname + loc.search);
	  }
          if ($('#status-alert .message').text().trim() != "") {
            $('#status-alert').css('display', '');
          }
        });
        </script>
      </div>

      <div class="row-fluid">
        {% load capture %}
        {% capture as sidebar %}
          {% block sidebar %}{% endblock sidebar %}
        {% endcapture %}
        {% capture as content %}
          {% block content %}{% endblock content %}
        {% endcapture %}

        {% if sidebar %}
          <div id="sidebar-pane" class="span3">{{sidebar}}</div>
          <div id="content-pane" class="span9">{{content}}</div>
        {% else %}
        <div class="span12">{{content}}</div>
        {% endif %}
      </div>


      <div class="row-fluid">
        <div class="span12">
        {% block bottom %}{% endblock bottom %}
        </div>
      </div>

      {% block footer %}
      <div class="row-fluid" id="footer">
	<div class="span6">
	  {{sponsored_by|default:""|safe}}
	</div>
	<div class="span6">
	  <div class="pull-right">
	  Powered by <a href="https://github.com/mytardis/mytardis">MyTardis
	  </div>
	</div>
      </div>
      {% endblock footer %}

    </div>
    <!-- /container -->
    <script type="text/javascript"
	    src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% if ga_enabled %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m) {
	  i['GoogleAnalyticsObject']=r;
	  i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},
	  i[r].l=1*new Date();
	  a=s.createElement(o), m=s.getElementsByTagName(o)[0];
	  a.async=1;
	  a.src=g;
	  m.parentNode.insertBefore(a,m)
      })(window,document,'script',
	 '//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ ga_id }}', '{{ ga_host }}'); {# from context proc #}
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
