{% extends "tardis_portal/portal_template.html" %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load render_bundle from webpack_loader %}

{% block content %}

<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="visible-xs">Experiments</h2>
      <div class="pull-left">
          <h2 class="hidden-xm" style="text-align: center">Experiments</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if not public_experiments %}
      <p class="alert alert-info">
        No experiments have been published yet.
      </p>
      {% else %}
      <div class="pull-left">
        <h3><strong>{{ public_experiments.count }}</strong>
        Public Experiment{{ public_experiments.count|pluralize}}
        </h3>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success btn-xs"
                onclick="$('#public-experiments .panel-collapse').collapse('hide');" >
        Collapse all</button>
        <button type="button" class="btn btn-success btn-xs"
                onclick="$('#public-experiments .panel-collapse').collapse('show');" >
        Expand all</button>
      </div>
      <div class="clearfix"></div>
      <div id="public-experiments" class="accordion experiments">
        {% for exp in public_experiments %}
          <div class="accordion-group">
            <div class="accordion-heading">
              <div class="accordion-toggle" data-toggle="collapse"
                   onclick="$('#collapse{{exp.id}}').collapse('toggle');" >
                <strong><a class="pull-left explink"
                           href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}</a></strong>
                {% experiment_badges exp %}
                {% experiment_authors exp %}
                {% experiment_download_link exp %}
              </div>
            </div>
            <div id="collapse{{exp.id}}"
                 class="panel-collapse collapse in">
              <div class="accordion-inner">
                <p><em>{{exp.description|default:""|bleach}}</em></p>
                {% for ds in exp.datasets.all|dictsortreversed:"id"|slice:":1" %}
                  {% if forloop.first %}
                    <ul class="list-group">
                      <li class="list-group-item dataset-list-header">Latest dataset in this experiment</li>
                  {% endif %}
                  <li class="list-group-item dataset-list-item">
                      <a href="{% url 'tardis_portal.view_dataset' ds.id %}"><strong>{{ ds.description }}</strong></a>
                  {% if exp.public_download_allowed %}
                    {% for datafile in ds.get_images|slice:":5" %}
                      {% if forloop.first %}
                        <ul class="thumbnails list-inline">
                      {% endif %}
                      <li class="list-inline-item">
                        <a class="thumbnail" href="{% url 'tardis.tardis_portal.download.view_datafile' datafile.id %}">{% url 'tardis.tardis_portal.iiif.download_image' datafile_id=datafile.id region='full' size=',50' rotation=0 quality='native' format='jpg' as thumbnail %}
                        <img alt="Thumbnail for Datafile #{{datafile.id}}"
                             src="{{ thumbnail }}"
                             onerror="$(this).hide()"/></a>
                      </li>
                      {% if forloop.last %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                    {% endif %}
                  </li>
                  {% if forloop.last %}
                    </ul>
                  {% endif %}
                  {% empty %}
                  There are no datasets in this experiment
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <br/>
    {% endif %}
    </div>
  </div>

</div>
{% render_bundle 'tardis_portal_public_data' %}
{% endblock %}
