{% extends "tardis_portal/portal_template.html" %}
{% load render_bundle from webpack_loader %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}

{% block content %}

<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="d-block d-sm-none">Experiments</h3>
      <div class="pull-left">
          <h3 class="d-none d-sm-block" style="text-align: center">Experiments</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if not public_experiments %}
      <p class="alert alert-info">
        No experiments have been published yet.
      </p>
      {% else %}
      <div class="pull-left">
        <h4><strong>{{ public_experiments.count }}</strong>
        Public Experiment{{ public_experiments.count|pluralize}}
        </h4>
      </div>
      <div class="pull-right mb-1">
        <button type="button" class="btn btn-outline-secondary btn-sm"
                onclick="$('#public-experiments .collapse').collapse('hide');" >
        Collapse all</button>
        <button type="button" class="btn btn-outline-secondary btn-sm"
                onclick="$('#public-experiments .collapse').collapse('show');" >
        Expand all</button>
      </div>
      <div class="clearfix"></div>
      <div id="public-experiments" class="panel-group experiments">
        {% for exp in public_experiments %}
          <div class="card mb-2">
              <div class="card-header accordion-toggle" data-parent="#public-experiments"
                   data-bs-toggle="collapse" onclick="$('#collapse{{exp.id}}').collapse('toggle');">
                <div class="row">
                  <div class="col-md-8 px-1 pb-1">
                    <a class="card-title explink"
                       href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}
                    </a>
                  </div>
                  <div class="col">
                    <div class="badges" id="badge-{{exp.id}}"></div>
                  </div>
                </div> {% comment %} class="row" {% endcomment %}
                <div class="row">
                  <div class="card-subtitle text-muted small col-6 px-1">
                    {% for author in exp.experimentauthor_set.all %}
                      {% if not forloop.first %}, {% endif %}
                      <span property="dc:author">{{ author.author }}</span>
                    {% endfor %}
                      &nbsp;
                  </div>
                  <div class="col">
                    <span class="float-end">
                      {% if exp.public_download_allowed %}
                        {% for dltype, dlurl in exp.get_download_urls.items %}
                          {% if forloop.first %}
                            <a class="dllink" href="{{dlurl}}"
                               title="Download Entire Experiment as {{dltype}}">
                              <i class="fa fa-download"></i>
                              <em>Download data as .{{dltype}}</em>
                            </a>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </div>
                </div>
              </div>
              <div id="collapse{{exp.id}}" class="card-body collapse in py-2" data-parent="#public-experiments">
                <div class="row">
                  <div class="col-md-9 px-1">
                  <div class="accordion-inner">
                    <p class="card-text small mb-1">
                      {{exp.description|default:""|bleach}}
                    </p>
                    {% for ds in exp.datasets.all|dictsortreversed:"id"|slice:":1" %}
                      {% if forloop.first %}
                        <ul class="list-group borderless mt-2">
                          <li class="list-group-item dataset-list-header small px-1 py-1">
                            <em>Latest dataset in this experiment:</em>
                          </li>
                      {% endif %}
                      <li class="list-group-item dataset-list-item small px-2 py-1">
                          <i class="fa fa-folder o-6"></i>
                          <a class="dataset-link"
                             href="{% url 'tardis_portal.view_dataset' ds.id %}">
                            {{ ds.description }}
                          </a>
                      {% if exp.public_download_allowed %}
                        {% for datafile in ds.get_images|slice:":5" %}
                          {% if forloop.first %}
                            <ul class="thumbnails list-inline">
                          {% endif %}
                          <li class="list-inline-item">
                            <a class="thumbnail" href="{% url 'tardis.tardis_portal.download.view_datafile' datafile.id %}">{% url 'tardis.tardis_portal.iiif.download_image' datafile_id=datafile.id region='full' size=',50' rotation=0 quality='native' format='jpg' as thumbnail %}
                            <img alt="Thumbnail for Datafile #{{datafile.id}}"
                               src="{{ thumbnail }}"
                                 onerror="$(this).hide()"/></a>
                          </li>
                          {% if forloop.last %}
                            </ul>
                          {% endif %}
                        {% endfor %}
                        {% endif %}
                      </li>
                      {% if forloop.last %}
                        </ul>
                      {% endif %}
                      {% empty %}
                        <ul class="list-group borderless mt-2">
                          <li class="list-group-item dataset-list-header small px-1 py-1">
                            <em>There are no datasets in this experiment.</em>
                          </li>
                        </ul>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
    $("#experiments .accordion-body").collapse({parent:"#experiments", toggle: true});
    $(".explink").on("click", function(e) {
        e.stopPropagation();
    });
    $(".dllink").on("click", function(e) {
        e.stopPropagation();
    });
});
</script>
{% render_bundle 'index_page_badges' %}
{% endblock %}
