{% extends "tardis_portal/search_template.html" %}
{% load formfieldfilters %}
        {% block searchPageBody %}
            {% if searchForm.errors %}
                <p style="color: red;">
                    Please correct the error{{ searchForm.errors|pluralize }} below.
                </p>
            {% endif %}
             <form name="input" action="." method="get">
             {{ searchForm.type }}
             <table width="100%">
             <tr>
             <td valign="top">

             Diffractometer Type
             <br/>
             {{ searchForm.diffractometerType }}
             <br><br>X-ray Source
             <br>
             {{ searchForm.xraySource|size:"20" }} {{ searchForm.errors.xraySource }}
             <br/>
             <br/>Crystal Name
             <br/>{{ searchForm.crystalName|size:"20" }} {{ searchForm.errors.crystalName }}
             </td>
             <td>

             Filename
             <br/>
             {{ searchForm.filename|size:"20" }} {{ searchForm.errors.filename }}
             <br/>
             <br/>

             Max Resolution Limit
             <br/>
             {{ searchForm.resolutionLimit|size:"4" }} Å {{ searchForm.errors.resolutionLimit }}

             <br/>
             <br>X-ray Wavelength

             Between {{ searchForm.xrayWavelengthFrom|size:"4" }} and
             {{ searchForm.xrayWavelengthTo|size:"4" }} Å
             {{ searchForm.errors.xrayWavelengthFrom }} {{ searchForm.errors.xrayWavelengthTo }}
             <br><br>
             <input type="submit" value="Submit">
             </td>

             </tr>
             </table>
             </form>
        {% endblock %}
        </p>
