{% extends "tardis_portal/portal_template.html" %}

{% block script %}

    <script type="text/javascript">
    $(document).ready(function() {
      $("#id_type").change(function () {
	  if ($("#id_type").val() != '-') {
	     $(this).parent().submit();
	  }
      });
    });
    </script>

{% endblock script %}


{% block content %}
<div class="page-header">
	<h1 class="title">Search</h1>
</div>
<div class="searchmenu" style="padding-left: 10px">
    Search Experiment
</div> <!-- searchmenu -->
<br/>
<div>
  {% block searchPageBody %}{% endblock %}
</div> <!-- entry -->
{% endblock content%}
