{% extends "tardis_portal/portal_template.html" %}
{% load url from future %}

{% block script %}

    <script type="text/javascript">
    $(document).ready(function() {
      $("#id_type").change(function () {
	  if ($("#id_type").val() != '-') {
	     $(this).parent().submit();
	  }
      });
    });
    </script>

{% endblock script %}


{% block content %}
<div class="page-header">
	<h1 class="title">Search</h1>
</div>
<div class="searchmenu" style="padding-left: 10px">Search <a href="{% url 'tardis.tardis_portal.views.search_experiment' %}">Experiment</a>
  | <form action="{% url 'tardis.tardis_portal.views.search_datafile' %}" method="GET" style="display: inline">
    {{ searchDatafileSelectionForm.type }}
    <noscript><input type="submit" value="Submit"></noscript>
  </form>
  {% for key,value in links.items %}
  | <a href="{{ value }}">{{ key|capfirst }}</a>
  {% endfor %}
</div> <!-- searchmenu -->
<br/>
<div>
  {% block searchPageBody %}{% endblock %}
</div> <!-- entry -->
{% endblock content%}


