{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load capture %}

{% block content %}
<div id="content">
  <div class="row">
    <div class="col-md-9">
      <h2 class="visible-xs">Experiments</h2>
      <div class="pull-right">
        {% if perms.tardis_portal.add_experiment %}
        <a class="btn btn-warning"
           href="{% url 'tardis.tardis_portal.views.create_experiment' %}">
          <i class="fa fa-plus"></i>
          Create
        </a>
        {% endif %}
{#        <a class="btn btn-primary"#}
{#           href="{% url 'tardis.search.views.search_experiment' %}">#}
{#          <i class="fa fa-search"></i>#}
{#          Search#}
{#        </a>#}
      </div>  <!-- class="pull-right" -->
      <div class="pull-left">
        <h2 class="hidden-xm" style="text-align: center">Experiments</h2>
      </div>
    </div>  <!-- class="col-md-9" -->
  </div>  <!-- class="row" -->

  <div class="row">
    <div class="col-md-9">
      {% if not shared_experiments %}
      <p class="alert alert-info">
        You do not have access to any shared experiments.
      Add your own experiments or browse the public experiments.</p>
      {% endif %}

      {% if shared_experiments %}
      <div class="pull-left">
        <h3><strong>{{ shared_experiments.count }}</strong>
        Shared Experiment{{ shared_experiments.count|pluralize }}</h3>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-success btn-xs"
                onclick="$('#myshared .panel-collapse').collapse('hide');" >
        Collapse all</button>
        <button type="button" class="btn btn-success btn-xs"
                onclick="$('#myshared .panel-collapse').collapse('show');" >
        Expand all</button>
      </div>
      <div class="clearfix"></div>
      <div id="myshared" class="mydata accordion experiments"></div>
      {% endif %}
    </div>  <!-- class="col-md-9" -->
  </div>  <!-- class="row" -->
</div>  <!-- id="content" -->

<input type="hidden" id="exps-expand-accordion" value="{{ exps_expand_accordion }}">
<script type="text/javascript"
        src="{% static 'js/jquery/tardis_portal/experiment-accordion.js' %}">
</script>

<script type="text/javascript"
        src="{% static 'js/jquery/tardis_portal/shared.js' %}">
</script>
{% endblock %}
