{% extends "tardis_portal/portal_template.html" %}

{% block icon %}
	<link rel="shortcut icon" href="/site_media/microtardis/img/rmit_symbol_transparent.png" type="image/x-icon">
{% endblock icon %}

{% block title %}
    <title>MicroTARDIS {% if subtitle %}- {{ subtitle }} {% endif %}</title>
{% endblock title %}

{% block css_extra %}
    <link href="/site_media/microtardis/css/microtardis.css" rel="stylesheet" type="text/css" media="screen">
{% endblock css_extra %}

{% block header %}
    <div id="logo">
      <div id="logo-img">&nbsp;</div>
      <div style="float: left;">
        <h1>MicroTARDIS</h1>
        <span id="logo-subtext">at RMMF</span>
      </div>
    </div> <!-- logo -->
    <div id="menu">
      <ul>
	<li><a href="{% url tardis.tardis_portal.views.index %}">Home</a></li>
	<li><a href="{% url tardis.tardis_portal.views.about %}">About</a></li>
	<li><a href="{% url tardis.tardis_portal.views.experiment_index %}">Data</a></li>
	<li><a href="{% url tardis.tardis_portal.views.partners %}">Partners</a></li>
	<li><a href="{% url tardis.tardis_portal.views.stats %}">Stats</a></li>
      </ul>
    </div> <!-- menu -->
{% endblock header %}

{% block bottomicons %}
<div>
    <div style="float: right; margin: 0 10px;">
        <a target="_blank" href="http://versi.edu.au/">
	    <img border="0" src="/site_media/microtardis/img/VeRSI_Logo.jpg">
        </a>
    </div>
    <div style="float: right;">
        <a target="_blank" href="http://www.rmit.edu.au/research/eres/">
	    <img border="0" src="/site_media/microtardis/img/RMIT_Logo.png">
        </a>
    </div>
</div>
{% endblock bottomicons %}

{% block bottombar %}
Copyright &copy; 2011 RMIT e-Research Office and Victorian eResearch Strategic Initiative
{% endblock bottombar %}