{% extends "tardis_portal/portal_template.html" %}

{% block title %}
<title>MicroTARDIS {% if subtitle %}- {{ subtitle }} {% endif %}</title>
{% endblock title %}

{% block css_extra %}
<link href="/site_media/microtardis/css/microtardis.css" rel="stylesheet" type="text/css" media="screen">
{% endblock css_extra %}

{% block header %}
    <div id="logo">
      <h1>MicroTARDIS</h1>
      <span id="logo-subtext">at RMMF</span>
    </div> <!-- logo -->
    <div id="menu">
      <ul>
	<li><a href="{% url tardis.tardis_portal.views.index %}">Home</a></li>
	<li><a href="{% url tardis.tardis_portal.views.about %}">About</a></li>
	<li><a href="{% url tardis.tardis_portal.views.experiment_index %}">Data</a></li>
	<li><a href="{% url tardis.tardis_portal.views.partners %}">Partners</a></li>
	<li><a href="{% url tardis.tardis_portal.views.stats %}">Stats</a></li>
      </ul>
    </div> <!-- menu -->
{% endblock header %}