{
  "presets": ["@babel/preset-react", ["@babel/preset-env",{
    // Add polyfill for functions which are
    // not supported by all browsers.
    "useBuiltIns": "usage",
    "targets": "defaults",
    "corejs":3,
    "bugfixes": true,
    // Required for support for class properties
    "shippedProposals": true,
}]],
  "plugins": ["emotion", "@babel/plugin-proposal-class-properties"]
}
