*.calltree
*.conf
*.egg-info/
*.log
*.prof
*.pyc
*.sqlite
*.wsgi
.idea/
.installed.cfg
.noseids
.project
.pydevproject
.settings/
/static/
bin/
celerybeat-schedule
develop-eggs/
docs/Makefile
docs/doctrees/
docs/html/
docs/make.bat
docs/pydoc
eggs/
node_modules/
parts/
tardis/settings.py
tardis/tardis_portal/tests/rifcs/MyTARDIS-1.xml
var/
versions.cfg
tardis_db
tardis/apps/*
!tardis/apps/__init__.py
!tardis/apps/anzsrc_codes
!tardis/apps/deep_storage_download_mapper
!tardis/apps/dl_mapper_df_dir_only
!tardis/apps/equipment
!tardis/apps/filepicker
!tardis/apps/mx_views
!tardis/apps/oaipmh
!tardis/apps/openid_migration
!tardis/apps/publication_forms
!tardis/apps/push_to
!tardis/apps/related_info
!tardis/apps/slideshow_view
tardis/tardis_portal/filters/*
!tardis/tardis_portal/filters/__init__.py
!tardis/tardis_portal/filters/diffractionimage.py
!tardis/tardis_portal/filters/jeolsem.py
