*.calltree
*.conf
*.egg-info/
*.log
*.prof
*.pyc
*.sqlite
*.wsgi
.idea/
.installed.cfg
.noseids
.project
.pydevproject
.settings/
/static/
bin/
celerybeat-schedule
develop-eggs/
docs/Makefile
docs/doctrees/
docs/html/
docs/make.bat
docs/pydoc
eggs/
parts/
tardis/settings.py
tardis/tardis_portal/tests/rifcs/MyTARDIS-1.xml
var/
versions.cfg
