*.calltree
*.conf
*.egg-info/
*.log
*.prof
__pycache__/
*.pyc
*.sqlite
*.wsgi
.idea/
.installed.cfg
.noseids
.project
.cache
.pydevproject
.settings/
/static/
bin/
celerybeat-schedule
coverage/
develop-eggs/
docs/Makefile
docs/doctrees/
docs/html/
docs/make.bat
docs/pydoc
eggs/
node_modules/
assets/bundles/
parts/
tardis/settings.py
tardis/tardis_portal/tests/rifcs/MyTARDIS-1.xml
var/
versions.cfg
webpack-stats.json
tardis_db
tardis/apps/*
!tardis/apps/__init__.py
!tardis/apps/deep_storage_download_mapper
!tardis/apps/dl_mapper_df_dir_only
!tardis/apps/equipment
!tardis/apps/filepicker
!tardis/apps/hsm
!tardis/apps/mx_views
!tardis/apps/oaipmh
!tardis/apps/openid_migration
!tardis/apps/push_to
!tardis/apps/related_info
!tardis/apps/s3utils
!tardis/apps/slideshow_view
!tardis/apps/sftp
!tardis/apps/social_auth
!tardis/apps/search
!tardis/apps/eventlog
!tardis/apps/projects
!tardis/apps/identifiers
!tardis/apps/dataclassification
tardis/apps/autoarchive
!tardis/apps/single_sign_on

.DS_Store

*.old

*.txt~
venv/

*.py#

tardis/apps/projects/.#api.py
tardis/apps/identifiers/tests/#test_models.py#

.vscode/settings.json