dist: bionic
sudo: required

language: python

python:
  - "3.7"

before_install:
 - sudo apt update
 - sudo apt install -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" libldap2-dev libmagickwand-dev libsasl2-dev libssl-dev libxml2-dev libxslt1-dev libmagic-dev python-dev python-pip zlib1g-dev libfreetype6-dev libjpeg-dev

# Commands to install dependencies:
install:
- pip install -r requirements.txt

script:
- pylint tardis
- mkdir var/store
- python test.py
