
h1 {
	color: #087391;
    font-weight: normal;
}

#headerbg {
	clear: both;
	margin: 0 auto;
	width: 1000px;
	height: 68px;
	background: url(../img/rmmf_bg_banner2.jpg) left top;
	margin: 0 auto;
	margin-top: 20px;
}

#headerloginstatus {
	padding: 10px;
	color: white;

}

#headerloginstatus a {
	color: #f1f5f2;
	font-weight: bold;
}

/* Logo */

#logo {
	float:left;
    margin-top: 30px;
}

#logo-subtext {
    text-align: right;
}


#logo h1, #logo h2, #logo p {
	float: left;
	margin: 0;
}

#logo h1 {
	background: no-repeat left 50%;
    float: none;
    display: inline;

	padding-left: 10px;
	text-align: center;
	font-size: 4.0em;

}

#logo h1 a {
	color: #000000;
}

#logo p {
	padding-top: 24px;
	padding-left: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color: #000000;
}

#logo h2 a, #logo p a {
	color: #000000;
}

#logo a {
	text-decoration: none;
}
