{% extends "tardis_portal/portal_template.html" %}

{% block script %}

  {% include "tardis_portal/javascript_libraries.html" %}

{% endblock %}


{% block content %}
<p class="alert alert-info">
  This page allows you to migrate accounts.
</p>

<div id="authForm">
    <form id="authForm" action="." method="post" class="form-horizontal">{% csrf_token %}
      <fieldset>
        <legend>Enter account details</legend>
        {% load bootstrap %}
        {% for field in authForm %}
          {{ field|bootstrap }}
        {% endfor %}
      </fieldset>
      <div class="form-actions">
        <button type="submit" id="link" class="btn btn-success">
         Migrate Accounts
        </button>
      </div>
    </form>
</div> <!-- authForm -->

<div id="template-block" style="display: none">
    <p class="alert-error-msg alert alert-error">
        <a class="close" data-dismiss="alert">&times;</a>
        <span class="msg"></span>
    </p>
</div>
<div id="confirm-migrate" style="display: none">
    <p class="alert-info-msg alert alert-warning">
        <span class="msg">This process would involve merging the two accounts you own.
            <strong>Would you like to continue?</strong></span>
    </p>
    <div class="container" style="margin-left: 10px ; width: min-content">
          <h2>Old User</h2>
          <table class="table" id="old_user">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="container" style="margin-left: 10px; width: min-content">
          <h2>New User</h2>
          <table class="table" id="new_user">
            <thead>
              <tr>
                <th>Username</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              </tr>
            </tbody>
          </table>
    </div>
    <div id="confirm_button" style="display: block">
        <button type="button" class="btn btn-success" id="confirm_true" style="margin-right: 20px ; width: 100px">Confirm</button>
        <button type="button" class="btn btn-danger"  id="confirm_false" style="margin-left: 20px ; width: 100px">Cancel</button>
    </div>
</div>
<div id="migration-message" style="display: none">
    <p class="alert-info-msg alert alert-success">
         <span class="msg"><strong>Congratulations !!</strong> your account has been successfully migrated</span>
    </p>
    <p class="alert-info-msg alert alert-warning">
         <span class="msg">Please use <strong>'Login via AAF'</strong> for all your future login to Store.Monash</span>
    </p>
</div>
<div id="spinner" style="display: none">
    <div class="center-parent" style="
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;">
        <div class="center-container" style="
    width: 60px;
    height: 60px;
    font-size: 60px;
    position: absolute;
    top: 34%;
    left: 62%;
    margin-top: -30px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -30px;
    z-index: -1;">
            <i id="mo-spin-icon" class="fa fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>


<script>

var authMethodDict = [];
{% for authKey, authDesc in allAuthMethods.items %}
authMethodDict["{{ authKey }}"] = "{{ authDesc }}";
{% endfor %}


var link_account = function() {
  var username = $("#id_username").val();
  var password = $("#id_password").val();
  var authenticationMethod = $("#id_authenticationMethod").val();

    if (username != "" && password != "") {
      var data = {operation: 'addAuth', username: username, password: password, authenticationMethod: authenticationMethod,
                  csrfmiddlewaretoken: '{{csrf_token}}'
      };
      $.post("/apps/openid-migration/migrate-accounts/", data, function(data) {
          var status = data.status;
          if (status == "confirm") {
              $("#authForm").css('display','none')
              $('.alert-info').css('display','none')
              $("#confirm-migrate").css('display','block')
              update_user_data(data)
          } else {
            display_error(data.errorMessage, $("#authForm"));
          }
      }, "json");
    }
    else {
        display_error("You need to provide all the necessary information to authenticate.", $("#authForm"));
    }
  return false;
};

var update_user_data = function (data) {
    $("#new_user").append('<td>'+data.data.new_username+'</td')
    $("#new_user").append('<td>'+data.data.new_user_email+'</td')
    $("#old_user").append('<td>'+data.data.old_username+'</td')
    $("#old_user").append('<td>'+data.data.old_user_email+'</td')
}

var migrate_account= function () {
    $("#spinner").css('display', 'block')
    $("#confirm-migrate").css('opacity','.5')
    var username = $("#id_username").val();
    var password = $("#id_password").val();
    var authenticationMethod = $("#id_authenticationMethod").val();
    var data = {
        operation: 'migrateAccount', username: username, password: password, authenticationMethod: authenticationMethod,
        csrfmiddlewaretoken: '{{csrf_token}}'
    }
        $.post("{% url 'tardis.apps.openid_migration.views.migrate_accounts' %}", data, function(data) {
                var status = data.status
                if (status == "success") {
                    $("#spinner").css('display', 'none')
                    $("#confirm-migrate").css('display','none')
                    $("#migration-message").css('display','block')
                }
                else {
                  display_error("Account merging failed!", $("#authForm"));
                }
              }, "json");
}

var display_error = function(msg, elem) {
  // Create box from template
  var msgBox = $('#template-block .alert-error-msg').clone();
  // Fill in error message
  msgBox.find('.msg').text(msg);
  // Insert into DOM
  msgBox.insertBefore(elem).fadeIn("slow").animate({opacity: 1.0}, 5000).fadeOut("slow",function() { msgBox.remove(); });
};

$("#link").click(link_account);
$("#confirm_true").click(migrate_account)

</script>
{% endblock content %}
