{% load url from future %}
<div class="tokens table table-condensed">
  <div class="access_list_tokens">
    {% if not tokens %}
      <p>No tokens defined </p>
    {% else %}
        <table>
          <thead>
            <tr>
                <th>
                    Expiry Date
                </th>
                <th>
                    Granted By
                </th>
                <th>
                    URL
                </th>

            </tr>
          </thead>
          <tbody>
            {% for token in tokens %}
            <tr>
                <td align="center">
                    {{ token.expiry_date }}
                </td>
                <td align="center">
                    {{ token.user }}
                </td>
                <td>
                    <a href="{{ token.url }}" class="token_url">{{ token.url }}</a>
                </td>
                <td>
                  <a title="Delete Token"
                    href="{% url 'tardis.tardis_portal.views.token_delete' token.id %}"
                    class="token_delete btn btn-danger btn-mini"
                    data-toggle_selector="#token_toggle_{{token.experiment_id}}">
                    <i class="icon-remove"></i>
                    Delete
                  </a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
  </div> <!-- access_list_tokens -->
</div> <!-- tokens -->
