<div class="access_list2">

  <div class="groups">
    {% for group_acl in group_acls_system_owned %}
      {% with group=group_acl.get_related_object_group %}
        {% include "tardis_portal/ajax/add_group_result.html" with system="true" %}
      {% endwith %}
    {% endfor %}
    {% for group_acl in group_acls_user_owned %}
      {% with group=group_acl.get_related_object_group %}
        {% include "tardis_portal/ajax/add_group_result.html" %}
      {% endwith %}
    {% endfor %}
  </div> <!-- groups -->

  <div id="group-sharing-messages"></div>

  <form>
    <div class="row mb-3">
      <div class="col-12">
        <label class="form-label" for="group">Add group to experiment:</label>
        <input type="text" name="group" autocomplete="group" class="form-control groupsuggest" id="id_group" required placeholder="group">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label class="form-label" for="permission_group">Permissions</label>
        <select id="permission_group" class="form-select">
          <option value="read">View Only</option>
          <option value="edit">View and Edit</option>
          <option value="owner">Full Owner</option>
        </select>
      </div>
    </div>
    <p class="mb-3"><em>Owner Groups have the ability to change access controls and share experiments with others.</em></p>
    <button type="button" class="form_submit btn btn-primary" id="group" href="">
      <i class="fa fa-plus"></i> Add Group
    </button>
    <input type="hidden" name="experiment_id" class="experiment_id" value="{{experiment_id}}">
  </form>

  <p class="mt-3">Go to <a href="{% url 'tardis.tardis_portal.views.manage_groups' %}">Group Management</a></p>

</div>
