{% load static from staticfiles %}
<script type="text/javascript" src="{% static 'clipboard/dist/clipboard.min.js' %}"></script>
<script type="text/javascript">
    var clipboard = new Clipboard('.btn.clipboard');
    {% comment %}
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    {% endcomment %}
</script>

<div class="access_list3">
<div class="tokens table table-condensed">
  <div class="access_list_tokens">
    {% if not tokens %}
      <p>No tokens defined </p>
    {% else %}
    <table class="table table-striped col-lg-12">
        <thead>
            <tr>
                <th style="width: 40%;">
                    Temporary Link
                </th>
                {% if has_archive_download_url %}
                <th style="width: 40%;">
                    Archive direct download
                </th>
                {% endif %}
                <th>
                    Expiry
                </th>
                <th colspan="2">
                    Granted By
                </th>
            </tr>
        </thead>
        <tbody class="small">
            {% for token in tokens %}
            <tr>
                <td class="pl-lg-1 pr-lg-1">
                    <a href="{{ token.url }}"
                    style="font-weight: bold;">Page link</a><br/>
                    <button type="button" class="btn btn-success btn-xxs clipboard" data-clipboard-text="{{ token.url }}">
                        <span class="fa fa-share"></span> Copy to clipboard</button>
                </td>
               {% if token.download_url %}
                <td class="pl-lg-1 pr-lg-1">
                    <a href="{{ token.download_url }}"
                    style="font-weight: bold;">Archive link</a><br/>
                    <button type="button" class="btn btn-success btn-xxs clipboard" data-clipboard-text="{{ token.download_url }}">
                        <span class="fa fa-share"></span> Copy to clipboard</button>
                </td>
                {% endif %}
                <td class="pl-lg-1 pr-lg-1" style="white-space: nowrap;">
                    {{ token.expiry_date }}
                </td>
                <td class="pl-lg-1 pr-lg-1">
                    {{ token.user }}
                </td>
                <td class="pl-lg-1 pr-lg-1">
                {% if token.is_owner %}
                  <a title="Delete Token"
                    href="{% url 'tardis.tardis_portal.views.token_delete' token.id %}"
                    class="token_delete btn btn-danger btn-xxs"
                    data-toggle_selector="#token_toggle_{{token.experiment_id}}"
                    style="white-space: nowrap;"
                    role="button" tabindex="-1">
                    <i class="fa fa-remove"></i>Delete</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
  </div> <!-- access_list_tokens -->
</div> <!-- tokens -->
</div>
