<div class="users">
  <div class="access_list_user row" style="margin-top: 1ex; margin-bottom: 1ex">
    <div class="col-md-10">
        <table class="table table-striped">
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Name
                    </th>
                    <th style="width: 120px">
                        Permissions
                    </th>
                </tr>
                {% for user_acl in user_acls %}
                  {% with user=user_acl.get_related_object %}
                <tr>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {% if user.first_name and user.last_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            <em>none</em>
                        {% endif %}
                    </td>
                    <td>
                          {% if user_acl.canRead %}
                          <span class="badge bg-success">Read</span>
                          {% endif %}
                          {% if user_acl.canWrite %}
                          <span class="badge bg-success">Edit</span>
                          {% endif %}
                          {% if user_acl.isOwner %}
                          <span class="badge bg-info">Owner</span>
                          {% endif %}
                    </td>
                </tr>
                  {% endwith %}
                {% endfor %}
        </table>


    </div>

  </div> <!-- access_list_user -->

</div>
