<div class="groups">
{% if group_acls %}
  <div class="access_list_group row" style="margin-top: 1ex; margin-bottom: 1ex">
    <div class="col-md-10">
      <table class="table table-striped">
              <tr>
                  <th>
                      Name
                  </th>
                  <th style="width: 120px">
                      Permissions
                  </th>
              </tr>
              {% for group_acl in group_acls %}
              {% with group=group_acl.get_related_object_group %}
                  <tr>
                      <td>
                          {{ group.name }}
                      </td>
                      <td>
                          {% if group_acl.canRead %}
                          <span class="badge bg-success">Read</span>
                          {% endif %}
                          {% if group_acl.canWrite %}
                          <span class="badge bg-success">Edit</span>
                          {% endif %}
                          {% if group_acl.isOwner %}
                          <span class="badge bg-info">Owner</span>
                          {% endif %}
                      </td>
                  </tr>
              {% endwith %}
              {% endfor %}
      </table>
    </div>
{% else %}
<p>
<em>There are currently no groups with access to this experiment.</em>
</p>
{% endif %}
</div> <!-- groups -->
