<div class="access_list1">
<div class="users">
<h3>Current User Permissions</h3>
{% for user_acl in user_acls %}
  {% with user=user_acl.get_related_object %}
  {% include "tardis_portal/ajax/add_user_result.html" %}
  {% endwith %}
{% endfor %}
</div> <!-- users -->
<div id="user-sharing-messages">
</div>
<p>
  <h3>Add new user</h3>
  <br/>
  {% for field in addUserPermissionsForm %}
      {% if field.label == "Authentication Method" %}
          <br/>
          <br/>Permissions:
          <br/>
          <select id="id_permission">
              <option value="read">View Only</option>
              <option value="download">View and Download</option>
              <option value="sensitive">View Sensitive and Download</option>
              <option value="edit">View Sensitive, Download, Edit</option>
              <option value="owner">Full Owner</option>
          </select><br/>
          <br/>
          <p><em>Owners have the ability to change access controls and share experiments with others.</em></p>
      {% endif %}

      {% if field.label == "User" %}
          Username:<br/>
          {{ field }}
      {% else %}
          {% if not field.label == "Read access" and not field.label == "Edit access" and not field.label == "Authentication Method" %}
              {{ field }} {{ field.label }}
          {% endif %}
      {% endif %}
  {% endfor %}
  <br/>
  <a class="form_submit btn btn-primary" id="user" href="">
    <i class="fa fa-plus"></i>
    Add User
  </a>
  <input type="hidden" name="experiment_id" class="experiment_id" value="{{experiment_id}}">
</p>
</div>
