<div class="groups">
{% for group in system_owned_groups %}
  <div class="access_list_group">
    <p>
      <strong>{{ group.name }}</strong>
    </p>
  </div> <!-- access_list_group -->
{% endfor %}
{% for group in user_owned_groups %}
  {% include "tardis_portal/ajax/add_group_result.html" %}
{% endfor %}
</div> <!-- groups -->
<p>
  <label>Add group: </label>
  <input type="text" class="groupsuggest" name="addgroup" />
  <label>CREATE? </label>
  <input type="checkbox" name="create" class="creategroup" /> <br/>
  <label>Group admin: </label>
  <input type="text" class="usersuggest" name="adduser" />
  <a class="form_submit" id="group" href="">Submit</a><br/>
  <input type="checkbox" name="read" class="canRead"  checked="yes" /> READ <br/>
  <input type="checkbox" name="write" class="canWrite" /> WRITE <br/>
  <input type="checkbox" name="delete" class="canDelete" /> DELETE <br/>
  <input type="hidden" name="experiment_id" class="experiment_id" value="{{experiment_id}}">
</p>
