{% block content %}

<!-- Scripts -->
{% load mustachejs %}
{% mustachejs "tardis_portal/license_selector" %}
<script type="text/javascript">
var populateLicenseOptions = function(public_access) {
  $.ajax({
    url: '/ajax/license/list?public_access='+public_access,
    dataType: 'json',
    success: function(licenses) {
      $('#license-options').empty();
      _(licenses).each(function (license) {
        $('#license-options').append(
            Mustache.to_html(
                Mustache.TEMPLATES['tardis_portal/license_selector'],
                license, Mustache.TEMPLATES)
        );
        var selectedOption = $('.license-option input[value="'
                                                      +$('form input[name="license"]').val()
                                                      +'"]')
                                                      .parents('.license-option');
        selectedOption.find('.use-button').prop('disabled', true);
        selectedOption.find('.use-button').text('Selected');
      });
    }
  });
};
</script>

<!-- Selection form -->
<form action="." method="post" class="form-horizontal">
  {% load bootstrap %}
  {{ form|bootstrap }}

  <div id="license-options"></div>
  <script type="text/javascript">
  $(document).on('click', '#license-options .use-button', function(evt) {
    // Get the selected ID from hidden input
    var id = $(this).parents('.license-option').find('input.license-id').val();
    // Set the licence ID for the form
    $(this).parents('form').find('input[name="license"]').val(id);
    // Enable all buttons, then disable the one we selected
    $(this).parents('#license-options')
           .find('.use-button')
           .prop('disabled', false);
    $(this).prop('disabled', true);
    $(this).text('Selected');
    // Submit form
    $(this).parents('form').submit();
  });
  </script>

  <script type="text/javascript">
  $('select[name="public_access"]').change(function() {
    populateLicenseOptions($(this).val());
  });
  populateLicenseOptions($('select[name="public_access"]').val());
  </script>
</form>

{% endblock %}

