{% load static %}
{% block content %}
{% load render_bundle from webpack_loader %}
{% load widget_tweaks %}
<!-- Scripts -->
{% load jstemplate %}
{% mustachejs "tardis_portal/license_selector" %}
{% mustachejs "tardis_portal/rights_update_message" %}
{% mustachejs "tardis_portal/ajax_error" %}

<!-- Success / Error Message -->
<div id="choose-rights-message"></div>

<!-- Selection form -->
<h3>Step 1: Change Public Access:</h3>
<br/>
<form action="{% url 'tardis.tardis_portal.views.choose_rights' experiment.id %}"
      method="post" class="experiment-rights form-horizontal">{% csrf_token %}

  {{ form.license }} {# hidden input #}
  {{ form.legal_text }} {# hidden input #}
  <div class="form-group">
    <label class="col-form-label col-md-3 " for="id_public_access">Public access</label>
    <div class="col-md-9 ">
      {{ form.public_access | add_class:"form-control" }}
    </div>
  </div>

  <h3>Step 2: Select a license:</h3>
  <div id="license-options"></div>
  <div id="selected-license-text"></div>
  <div id="legal-section">
    <button class="btn-secondary" id="reselect-license">Reselect License</button>
    <br/><br/>
    <h3 >Step 3: Accept The Legal Agreement:</h3>
    <pre id="publishing-legal-text"
         style="white-space: pre-wrap; word-break: keep-all;">{{ form.legal_text.value }}</pre>
    <div class="checkbox">
      <label>
        <input id="publishing-consent" type="checkbox" required value="Agree" />
        I agree to the above terms
      </label>
    </div>
  </div>
  <br>
  <div id="confirm-license-btn-group" class="form-group text-right">
    <button type="button" class="cancel-button btn btn-outline-secondary"
            data-bs-dismiss="modal">
      <i class="fa fa-close"></i>
      Cancel
    </button>
    <button type="button" class="submit-button btn btn-primary">
      <i class="fa fa-check"></i>
      Confirm
    </button>
  </div>
</form>
{% endblock %}
