<div class="group_create">
  <form id="create-group-form" role="form" novalidate>
    <div class="form-group">
      <label class="col-form-label" for="id_addgroup">Name:</label>
      <input type="text" name="addgroup" id="id_addgroup" required
             class="form-control groupsuggest" maxlength="100">
      <div class="invalid-feedback"></div>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="id_groupadmin">
          Group admin (enter username exactly - you will automatically be added as an admin):
      </label>
      <input type="text" name="groupadmin" id="id_groupadmin"
             class="form-control usersuggest" maxlength="100">
      <div class="invalid-feedback"></div>
    </div>

    <div class="form-group text-end pt-2">
      <button type="button" class="cancel-button btn btn-outline-secondary"
              data-bs-dismiss="modal">
        <i class="fa fa-close"></i>
        Cancel
      </button>
      <button type="submit" class="form_submit btn btn-primary" id="group">
        <i class="fa fa-plus"></i>
        Create Group
      </button>
    </div>
  </form>
</div>
