{% load widget_tweaks %}
{% if not user_created %}
    <div class="user_create">
      {% for field in createUserPermissionsForm %}
        <div class="row mb-3">
          <div class="col-md-3">
            <label class="form-label" for="{{ field.name }}">{{ field.label }}</label>
          </div>
          <div class="col-md-9">
            {{ field }}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="offset-3 col-9">
          <button type="button" class="form_submit btn btn-primary" id="user" href="">
            Create User
          </button>
          <button type="button" class="cancel-button float-end btn btn-outline-secondary" data-bs-dismiss="modal">
            <i class="fa fa-close"></i> Cancel
          </button>
        </div>
      </div>
    </div>
{% else %}
    Created user: {{user_created}}
{% endif %}
