<div class="group_create">
    <p>
      Name:<br/>
      {% for field in createGroupPermissionsForm %}
          {% if field.label == "Authentication Method" %}
    		<div class="newgroup">
    	      {{ field.label }}:<br/> {{ field }}
    		<br/><br/>
    		</div>
          {% else %}
              {% if field.label == "Group" %}
                  {{ field }}
              {% else %}
    	          {% if field.label == "User" %}
    	              Group admin (enter username exactly - you will automatically be added as an admin):
    	              <br/> {{ field }}
    				<br/>
    				<br/>
    	          {% else %}
    		   		  {% if field.label == "DELETE" %}
    					<br/><br/>
    					</div>
    				  {% else %}
    	                 {{ field }} {{ field.label }}
    					<br/>
    	 			  {% endif %}
    	          {% endif %}
    	      {% endif %}
          {% endif %}
      {% endfor %}
      <a class="form_submit btn btn-primary" id="group" href="">
        <i class="icon-plus"></i>
        Create Group
      </a>
    </p>
</div>