{% load pagination %}
{% load static %}

{% if datafiles.paginator.num_pages > 1 %}
  {% block top-pagination %}{% pagination datafiles paginator page_num query_string %}{% endblock %}
  <!-- Page {{ page_num|add:1 }} of {{ datafiles.paginator.num_pages }} -->
{% endif %}

<p id="filename-search" class="js-required" data-action="/ajax/datafile_list/{{dataset.id}}/" data-method="GET" style="padding: 5px 0 5px 10px; border: 1px solid #DDDDDD;">
<input id="filename-search-text" style="width: 95%; font-size: 100%; margin-top: 5px;"
    autocomplete="off"
    title='Enter part or all of a filename, then press enter. e.g. Enter "175" to show only files containing "175" in their filename.'
    placeholder='Search: Enter part or all of a filename, then press enter.'
    type="text"
    name="filename"
    onkeypress="javascript:filenameSearchHandler(event)"
    value="{{filename_search|default:''}}" />
</p>

<form id="datafile-download" method="POST" action="{% url 'tardis.tardis_portal.download.streaming_download_datafiles' %}" target="_blank">{% csrf_token %}

    <div class="clearfix"></div>
    <table class="datafiles table table-sm">
        {% if has_download_permissions %}
            <thead>
            <tr id="datafile-selectors" class="js-required">
                <td colspan="3">
                    Select: <a class="dataset_selector_all btn btn-outline-secondary btn-sm">All</a> / <a class="dataset_selector_none btn btn-outline-secondary btn-sm">None</a>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-outline-secondary btn-sm download-selected">
                            <i class="fa fa-download"></i>
                            Download Selected Files
                        </button>
                        <input type="hidden" name="comptype" value="{{default_format}}"/>
                        <input type="hidden" name="organization" value="{{default_organization}}"/>
                    </div></td>
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {% for datafile in datafiles.object_list %}
            <tr data-datafile-id="{{datafile.id}}" class="datafile search_match_file">
                <td id="datafile-checkbox-{{datafile.id}}">
                    <i class="fa fa-spinner fa-spin fa-lg"></i>
                </td>
                <td id="datafile-name-{{datafile.id}}">
                    <span class="datafile_name">{{ datafile.filename }}</span>
                    {% if datafile.size %}
                      <span style="margin-right: 5px">
                        ({{ datafile.size|filesizeformat }})
                      </span>
                    {% endif %}
                </td>
                <td style="width: 130px;">
                  <div id="datafile-buttons-{{datafile.id}}" class="btn-group pull-right">
                    {% if has_write_permissions and not immutable %}
                        <a title="Add Metadata"
                           href="{% url 'tardis.tardis_portal.views.add_datafile_par' datafile.id %}"
                           data-toggle_selector="#datafile_metadata_toggle_{{datafile.id}}"
                           class="btn btn-default btn-sm add-metadata">
                            <i class="fa fa-plus fa-lg"></i>
                        </a>
                    {% endif %}

                    <a id="datafile_metadata_toggle_{{datafile.id}}" title="Show/Hide Metadata"
                       class="btn btn-default btn-sm datafile-info-toggle metadata_hidden"
                       href="/ajax/datafile_details/{{datafile.id}}/">
                        <i class="fa fa-list fa-lg"></i>
                    </a>
                  </div>
                </td>
            </tr>
        {% endfor %}
</tbody>
</table>
</form>

<input type="hidden" id="page-number" value="{{ datafiles.number }}">
{% block script %}
{% endblock %}

{{ paginator_block }}
