{% if datafile_id %}
  {% if views|length > 1 %}
    {% for view in views %}
      <a class="df-view-button btn btn-warning {% if forloop.first %}active{% endif %}" 
	 href="{{view.url}}">{{view.name}}</a>
       {% endfor %}
    {% endif %}
  <div class="info-box">
    <h1 id="df-view-h1">{{views.0.name}}</h1>
    <div id="datafile-app">
  </div></div>
  <script type="text/javascript">
    $(".df-view-button").click(function(e){
	e.preventDefault();
	$("#df-view-h1").text(this.innerText);
	$("#datafile-app").load(this.href);
	$(this).siblings().each(function(){$(this).removeClass("active");});
	$(this).addClass("active");
    });
    $("#datafile-app").load("{{views.0.url}}");
  </script>
{% else %}
{% endif %}
