{% if datafile_id %}
  {% if views|length > 1 %}
    {% for view in views %}
      <a class="df-view-button btn btn-warning {% if forloop.first %}active{% endif %}" 
         href="{{view.url}}">{{view.name}}</a>
    {% endfor %}
  {% endif %}
  <div class="info-box">
    <h1 id="df-view-h1">{{views.0.name}}</h1>
    <div id="datafile-app"></div>
    <input type="hidden" id="df-view-0-name" value="{{ views.0.name }}">
    <input type="hidden" id="df-view-0-url" value="{{ views.0.url }}">
  </div>
{% endif %}
