{% load static from staticfiles %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load static %}
{% load pagination %}

{% if experiments.paginator.num_pages > 1 %}
  {% block top-pagination %}{% pagination experiments paginator page_num query_string %}{% endblock %}
  <!-- Page {{ page_num|add:1 }} of {{ experiments.paginator.num_pages }} -->
{% endif %}

{% for exp in experiments %}
  <div class="card mb-2" style="background-color: #f5fbff">
    <div class="card-body py-2" style="background-color: rgba(0,0,0,0)">
      <div class="row">
        <div id="toggle-{{exp.id}}" class="accordion-toggle col-md-8 px-1" data-toggle="collapse">
          <input type="hidden" class="exp-index" value="{{ forloop.counter }}">
          <a class="explink"
             href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}</a>
        </div>
        <div class="col">
          {% experiment_badges exp %}
        </div>
      </div> {% comment %} class="row" {% endcomment %}
      <div class="row">
        <div class="card-subtitle text-muted col-6 px-1">
          {% experiment_authors exp %}
        </div>
        <div class="col">
          <span class="float-right">
            {% experiment_download_link exp %}
          </span>
        </div>
      </div>{% comment %} class="row" {% endcomment %}
      <div class="row">
        <div id="collapse-{{exp.id}}" class="collapse col-md-9 px-1">
          <div class="accordion-inner">
            <p class="card-text small mb-1">{{exp.description|default:""|bleach}}</p>
            <div id="latest-dataset-{{exp.id}}"></div>
          </div> {% comment %} class="accordion-inner" {% endcomment %}
        </div> {% comment %} class="accordion-body" {% endcomment %}
      </div>
    </div>
  </div>{% comment %} class="card" {% endcomment %}
{% empty %}
  <p>You do not own any Experiment on this server.<br/>
    <a href="{% url 'tardis.tardis_portal.views.create_experiment' %}">Create a new experiment</a>
    and upload your data
  </p>
{% endfor %} {% comment %} for exp in experiments {% endcomment %}

{% if experiments.paginator.num_pages > 1 %}
  {% block bottom-pagination %}{% pagination experiments paginator page_num query_string %}{% endblock %}
{% endif %}
