{% load static from staticfiles %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load static %}
{% load pagination %}

{% if experiments.paginator.num_pages > 1 %}
  {% block top-pagination %}{% pagination experiments paginator page_num query_string %}{% endblock %}
  <!-- Page {{ page_num|add:1 }} of {{ experiments.paginator.num_pages }} -->
{% endif %}

{% for exp in experiments %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <div id="toggle-{{exp.id}}" class="accordion-toggle" data-toggle="collapse">
        <input type="hidden" class="exp-index" value="{{ forloop.counter }}">
        <strong><a class="pull-left explink"
                   href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}</a></strong>
        {% experiment_badges exp %}
        <small>
          {% for author in exp.experimentauthor_set.all %}
            {% if not forloop.first %}, {% endif %}
            <span property="dc:author">{{ author.author }}</span>
          {% empty %}
            &nbsp;
          {% endfor %}
        </small>
        <span class="pull-right">
          {% for dltype, dlurl in exp.get_download_urls.items %}
            {% if forloop.first %}
              <a class="dllink" href="{{dlurl}}"
                 title="Download Entire Experiment as {{dltype}}">
                <i class="fa fa-download"></i>
                <em>Download data as .{{dltype}}</em>
              </a>
            {% endif %}
          {% endfor %}
        </span>
      </div> {% comment %} class="accordion-toggle" {% endcomment %}
    </div> {% comment %} class="accordion-heading" {% endcomment %}
    <div id="collapse-{{exp.id}}"
         class="panel-collapse collapse">
      <div class="accordion-inner">
        <p>{{exp.description|default:""|bleach}}</p>
        <div id="latest-dataset-{{exp.id}}"></div>
      </div> {% comment %} class="accordion-inner" {% endcomment %}
    </div> {% comment %} class="accordion-body" {% endcomment %}
  </div> {% comment %} class="accordion-group" {% endcomment %}
{% empty %}
  <p>You do not own any Experiment on this server.<br/>
    <a href="{% url 'tardis.tardis_portal.views.create_experiment' %}">Create a new experiment</a>
    and upload your data
  </p>
{% endfor %} {% comment %} for exp in experiments {% endcomment %}

{% if experiments.paginator.num_pages > 1 %}
  {% block bottom-pagination %}{% pagination experiments paginator page_num query_string %}{% endblock %}
{% endif %}
