{% load static %}
{% load render_bundle from webpack_loader %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load static %}
{% load pagination %}

{% if experiments.paginator.num_pages > 1 %}
  {% block top-pagination %}{% pagination experiments paginator page_num query_string %}{% endblock %}
  <!-- Page {{ page_num|add:1 }} of {{ experiments.paginator.num_pages }} -->
{% endif %}

{% for exp in experiments %}
  <div class="card mb-2">
    <div id="toggle-{{exp.id}}"
         class="card-header accordion-toggle py-2" data-parent="#experiments"
         data-bs-toggle="collapse">
      <div class="row">
        <div class="col-md-8 px-1 pb-1">
          <input type="hidden" class="exp-index" value="{{ forloop.counter }}">
          <a class="explink"
             href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}</a>
        </div>
        <div class="col">
          <div class="badges" id="badge-{{exp.id}}"></div>
        </div>
      </div>
      <div class="row">
        <div class="card-subtitle text-muted small col-6 px-1">
          {% experiment_authors exp %}
        </div>
        <div class="col">
          <span class="float-end">
            {% experiment_download_link exp %}
          </span>
        </div>
      </div>
    </div>
    <div id="collapse-{{exp.id}}" class="card-body collapse py-2">
      <div class="row">
        <div class="col-md-9 px-1">
          <div class="accordion-inner">
            <p class="card-text small mb-1">{{exp.description|default:""|bleach}}</p>
            <div id="latest-dataset-{{exp.id}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p>You do not own any Experiment on this server.<br/>
    <a href="{% url 'tardis.tardis_portal.views.create_experiment' %}">Create a new experiment</a>
    and upload your data
  </p>
{% endfor %}

{% if experiments.paginator.num_pages > 1 %}
  {% block bottom-pagination %}{% pagination experiments paginator page_num query_string %}{% endblock %}
{% endif %}
{% render_bundle 'index_page_badges' %}