<div class="users">
{% for user in users %}
  {% include "tardis_portal/ajax/add_user_to_group_result.html" %}
{% endfor %}
</div> <!-- users -->
<p>
  <label>Add user: </label>
  <input type="text" class="usersuggest" name="adduser" />
  <img src="/site_media/images/icon_adminstrator.jpg">
  <input type="checkbox" name="admin" class="isAdmin" /> Group Admin
  <a class="form_submit" id="user" href="">Submit</a><br/>
  <input type="hidden" name="group_id" class="group_id" value="{{group_id}}">
</p>
