<div class="users">
{% for user in users %}
  {% include "tardis_portal/ajax/add_user_to_group_result.html" %}
{% endfor %}
</div> <!-- users -->
<form class="add-user-form form-horizontal">
  <fieldset>
  <legend>Add User</legend>
  {% load bootstrap %}
  {{ manageGroupPermissionsForm|bootstrap }}
  </fieldset>
  <input type="hidden" name="group_id" class="group_id" value="{{group_id}}"/>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      <i class="icon-plus"></i>
      Add User to Group
    </button>
  </div>
</form>
