{% load mustachejs %}
{% mustachejs "tardis_portal/import_staging_message" %}
{% mustachejs "tardis_portal/ajax_error" %}

<script type="text/javascript">
var treeConfig = {
    core : { /* core options go here */ },
    plugins : [ "themes", "html_data", "checkbox" ],
    "html_data" : {      
        "ajax" : {
            "type": 'GET',       
            "url": function (node) {
                var nodeId = "";
                var url = ""
                if (node == -1)
                {
                    url = "{% url tardis.tardis_portal.views.list_staging_files dataset_id %}";
                }
                else
                {
                    nodeId = encodeURIComponent(node.attr('id'));
                    url = "{% url tardis.tardis_portal.views.list_staging_files dataset_id %}?path=" + nodeId;
                }

                return url;
            },           
            "success": function (new_data) {
                return new_data;
            }
        }
    }
}

$(document).ready(function(){
 $("#staging-file-tree").jstree(treeConfig);

 // $('#staging-file-tree ins').live('click',function(){
 //    var tree = jQuery.jstree._reference("#staging-file-tree");
 //    var currentNode = tree._get_node(null, false);
 //    tree.refresh(currentNode);
 // });

});

//Get checked
$('.add_files').live('click', function(){
    file_list = $(this).parents(".dataset_container").find(".datafiles");

    $(".jstree-leaf.jstree-checked").each(function(){
        exists = false;
        filename = $(this).attr('id');

        file_list.find(".file").each(function(){
            if(filename == $(this).html()) {
                exists = true;
            }
        });

        if(!exists) {
            addDatafile(file_list, filename);
        }
    });
    $("#staging-file-tree").jstree("uncheck_all");
});
</script>

<p>To add files to 'My Files', mount the following file store via
  your operating system:</p>
<p id="mountpath">
  <strong>{{staging_mount_prefix}}{{username}}</strong>
</p>
<p>
  <strong>Select Files To Be Added To A Dataset:</strong>
</p>
<div id="staging-file-tree"></div>

<button id="staging-import-button" class="btn btn-primary">
  <i class="icon-arrow-right"></i>
  Import from Staging Area
</button>

<script type="text/javascript">
$('#staging-import-button').click(function() {
  // Get files
  var files = _.map(
      $('#staging-file-tree').jstree('get_checked', -1, true),
      function(v) {
        return $(v).attr('id')
      }
  );

  // Hide content
  var modal = $('#staging-import-button').parents('.modal');
  modal.find('.modal-body').html('');
  modal.find('.loading-placeholder').show();

  // Send data
  $.ajax({
    type: 'POST',
    url: '{% url tardis.tardis_portal.views.stage_files_to_dataset dataset_id %}',
    data: JSON.stringify(files),
    contentType: "application/json; charset=utf-8",
    dataType: 'json',
    error: function(jqXHR, textStatus, errorThrown) {
      var errorData = {'message': errorThrown};
      errorData[textStatus] = true;
      // Show error message
      $('#datafile-download').before(
          Mustache.to_html(
              Mustache.TEMPLATES['tardis_portal/ajax_error'],
              errorData, Mustache.TEMPLATES)
      );
    },
    success: function(data, textStatus, jqHXR) {
        if(files != '')
        {
            var templateData = {'import_staging': true};
            
            if(data != '')
            {
                templateData['email'] = data.email;
            }

            $('#datafile-download').before(       
              Mustache.to_html(
              Mustache.TEMPLATES['tardis_portal/import_staging_message'],
              templateData, Mustache.TEMPLATES)
            );
        }
    },
    complete: function(jqXHR, textStatus) {
        modal.modal('hide');
    }
  });
});
</script>

