{% load static from staticfiles %}
{% load experiment_tags %}
{% load experimentstats %}
{% load humanize %}
{% load bleach_tag %}
{% load capture %}
{% capture as paginator_block %}
{% if owned_experiments.paginator.num_pages > 1 %}
  <div class="pagination">
      <ul style="margin-left: auto; margin-right: auto; display: table;">
      {% if owned_experiments.has_previous %}
      <li>
        <a class="pagelink" href="/ajax/owned_exps_list/?page=1">&laquo;</a>
      </li>
      <li>
        <a class="pagelink" href="/ajax/owned_exps_list/?page={{ owned_experiments.previous_page_number }}">&lsaquo;</a>
      </li>
      {% else %}
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="disabled"><a href="#">&lsaquo;</a></li>
      {% endif %}

      {% for pagenum in owned_experiments.paginator.page_range %}
      <li{% if owned_experiments.number == pagenum %} class="active"{% endif %}>
        <a class="pagelink"
           href="/ajax/owned_exps_list/?page={{pagenum}}">
           {{pagenum}}
        </a>
      </li>
      {% endfor %}

      {% if owned_experiments.has_next %}
      <li>
        <a class="pagelink" href="/ajax/owned_exps_list/?page={{ owned_experiments.next_page_number }}">&rsaquo;</a>
      </li>
      <li>
      <a class="pagelink" href="/ajax/owned_exps_list/?page={{ owned_experiments.paginator.num_pages }}">&raquo;</a>
      </li>
      {% else %}
      <li class="disabled"><a href="#">&rsaquo;</a></li>
      <li class="disabled"><a href="#">&raquo;</a></li>
      {% endif %}
    </ul>
    <!-- Page {{ owned_experiments.number }} of {{ owned_experiments.paginator.num_pages }} -->
  </div>
  <br/>
{% endif %}
{% endcapture %}

{{ paginator_block }}

{% for exp in owned_experiments %}
 <div class="accordion-group">
   <div class="accordion-heading">
     <div class="accordion-toggle" data-toggle="collapse"
          onclick="$('#collapse{{exp.id}}').collapse('toggle');" >
       <strong><a class="pull-left explink"
                  href="{% url 'tardis_portal.view_experiment' exp.id %}">{{ exp.title }}</a></strong>
       <ul class="nav nav-pills badgelist">
         <li class="pull-right">
           {{ exp|experiment_public_access_badge }}
             </li>
             <li class="pull-right">
               {{ exp|experiment_datafiles_badge }}
             </li>
             <li class="pull-right">
               {{ exp|experiment_datasets_badge }}
             </li>
             <li class="pull-right">
               {{ exp|experiment_last_updated_badge }}
             </li>
           </ul>
           <small>
             {% for author in exp.experimentauthor_set.all %}{% if not forloop.first %},
           {% endif %}
           <span property="dc:author">{{ author.author }}</span>{% empty %}&nbsp;{% endfor %}
           </small>
           <span class="pull-right">
             {% for dltype, dlurl in exp.get_download_urls.items %}
               {% if forloop.first %}
                 <a class="dllink" href="{{dlurl}}"
                    title="Download Entire Experiment as {{dltype}}">
                   <i class="fa fa-download-alt"></i>
                   <em>Download data as .{{dltype}}</em>
                 </a>
               {% endif %}
             {% endfor %}
           </span>
         </div>
       </div>
       <div id="collapse{{exp.id}}"
            class="accordion-body collapse in">
         <div class="accordion-inner">
           <p>{{exp.description|default:""|bleach}}</p>
           {% for ds in exp.datasets.all|dictsortreversed:"id"|slice:":1" %}
             {% if forloop.first %}
               <ul class="nav nav-list">
                 <li class="nav-header dataset-list-header">Latest dataset in this experiment</li>
             {% endif %}
             <li>
               <a href="{% url 'tardis_portal.view_dataset' ds.id %}"><strong>{{ ds.description }}</strong></a>
               {% for datafile in ds.get_images|slice:":5" %}
                 {% if forloop.first %}
                   <ul class="thumbnails">
                 {% endif %}
                 <li>
                   <a class="thumbnail" href="{% url 'tardis.tardis_portal.download.view_datafile' datafile.id %}">{% url 'tardis.tardis_portal.iiif.download_image' datafile_id=datafile.id region='full' size=',50' rotation=0 quality='native' format='jpg' as thumbnail %}
                   <img alt="Thumbnail for Datafile #{{datafile.id}}"
                        src="{{ thumbnail }}"
                        onerror="$(this).hide()"/></a>
                 </li>
                 {% if forloop.last %}
                   </ul>
                 {% endif %}
               {% endfor %}
             </li>
             {% if forloop.last %}
               </ul>
             {% endif %}
             {% empty %}
             There are no datasets in this experiment
           {% endfor %}
         </div>
       </div>
     </div>
     {% empty %}
     <p>You do not own any Experiment on this server.<br/>
     <a href="{% url 'tardis.tardis_portal.views.create_experiment' %}">Create
     a new experiment</a> and upload your data</p>
 {% endfor %}

{{ paginator_block }}

<script type="text/javascript">
$(function(){
    $("#experiments .accordion-body").collapse({parent:"#experiments", toggle: true});
    $(".explink").click(function(e){
        e.stopPropagation();
    });
    $(".dllink").click(function(e){
        e.stopPropagation();
    });
});
</script>
