{% load parametertypecheck %}
{% for parameterset in parametersets %}
	<p><strong><em>Schema: {{parameterset.schema}}</strong></em></p>
    {% autoescape off %}
	{% for parameter in parameterset.datafileparameter_set.all %}
		<li><strong>{{ parameter.name.full_name }}: </strong>
			{% if parameter.name.is_numeric %}
				{{ parameter.numerical_value }} {{ parameter.name.units }}
		        {% else %}
				{{ parameter.string_value|dfparametertypecheck:parameter.id }}
			{% endif %}
		</li>
	{% endfor %}
    {% endautoescape %}
	<br/><br/>
{% endfor %}
