{# {% include "tardis_portal/javascript_libraries.html" %} #}

{% if success %}
	Parameters saved successfully.
	
{% else %}
	<p><strong>Schema: </strong>{{schema}}</strong></p>
	<form id="edit_form_{{type}}_{{parameterset_id}}" action='/ajax/edit_{{type}}_parameters/{{parameterset_id}}/' method='post'>
		{{ form.non_field_errors }}
	    {% for field in form %}
	        <div class="fieldWrapper">
	            {{ field.errors }}
	            {{ field.label_tag }}:
				<br/>{{ field }}
	        </div>
	    {% endfor %}
		<span/>
		
		<select id="parameternameselect">
		{% for pn in parameternames %}
		
			<option value="{{pn.name}}">{{pn.full_name}}</option>
	
		{% endfor %}
		</select>

		<a class="add_new_parameter">Add Metadata Parameter</a>
  		
		<p><em>Leave a parameter blank to remove</em></p>
		<p><input id="submit" type="submit" value="submit" /></p>
	</form>
	<script type="text/javascript">
		$('#edit_form_{{type}}_{{parameterset_id}}').submit(function(e) {
			e.preventDefault();

			$.post("/ajax/edit_{{type}}_parameters/{{parameterset_id}}/", $("#edit_form_{{type}}_{{parameterset_id}}").serialize(),
			      function( data ) {
			          $("#jqmAlertContent{{type}}{{parameterset_id}}").html( data );
						return false;
			      });

			return false;
		});
	</script>
{% endif %}