{% load formfieldfilters %}
{% load widget_tweaks %}

{% if success %}
  Parameters saved successfully.
{% else %}
  <form id="add_metadata_form"
        action='{{prefix}}/ajax/add_{{type}}_parameters/{{parentObject.id}}/{{schema.id}}/'
        method='post' data-type="{{type}}" data-parent_object_id="{{parentObject.id}}">
    {% csrf_token %}
    <div class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
             <label class="col-form-label" for="schemaselect">
               <strong>Schema</strong>
             </label>
          </div>
          <div class="col-md-9 ml-4 mr-0">
            <select id="schemaselect" class="form-control" data-type="{{type}}" data-parent_object_id="{{parentObject.id}}">
            {% for schema in all_schema %}
              <option value="{{schema.id}}" {% if schema.id == schema_id %}selected{% endif %}>{{schema.name}}</option>
            {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    {{ form.non_field_errors }}
      {% for field in form %}
        <div class="form-group">
          <label class="col-form-label-sm py-0" for="{{field.name}}">{{field.label}}</label>
          <div class="col-md-12 pl-0">
            {{ field | add_class:"form-control form-control-sm" }}
          </div>
        </div>
      {% endfor %}

    <p><em>Leave a parameter blank to remove</em></p>
    {% if not valid %}
      <p style="color: red"><em>There were errors in the parameter submission. Please fix and resubmit.</em></p>
    {% endif %}

    <div class="form-group">
      <footer class="col-md-12 text-right">
        <button type="button" class="cancel-button btn btn-outline-secondary"
                data-bs-dismiss="modal">
          <i class="fa fa-close"></i>
          Cancel
        </button>
        <button type="submit" class="submit-button btn btn-primary">
          <i class="fa fa-check"></i>
          Save
        </button>
      </footer>
    </div>
  </form>
{% endif %}
