{% load formfieldfilters %}
{% load widget_tweaks %}

{% if success %}
  Parameters updated successfully.
{% else %}
  <p>Schema: <strong>{{schema.name}}</strong></p>
  <form id="edit_metadata_form"
        action="/ajax/edit_{{type}}_parameters/{{parameterset_id}}/"
        method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="form-label" for="{{field.name}}">{{field.label}}</label>
          {{ field | add_class:"form-control" }}
        </div>
      </div>
    {% endfor %}
    <div class="row mb-3">
      <div class="col-md-7">
        <select id="parameternameselect" class="form-select">
          {% for pn in parameternames %}
            {% if not pn.immutable %}
              <option value="{{pn.name|parametername_form}}"{% if pn.isLongString %} data-longstring="true" {% endif %}>
                {{pn.full_name}} {% if pn.units %}({{pn.units}}){% endif %}
              </option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-5">
        <button id="add_new_parameter" type="button" class="btn btn-success">
          <i class="fa fa-plus"></i> Add Parameter
        </button>
      </div>
    </div>
    <p class="help-block ms-0">Leave a parameter blank to remove</p>
    {% if not valid %}
      <p style="color:red">There were errors in the parameter submission. Please fix and resubmit.</p>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="submit-button btn btn-primary">
          <i class="fa fa-check"></i> Update
        </button>
        <button type="button" class="float-end cancel-button btn btn-outline-secondary" data-bs-dismiss="modal">
          <i class="fa fa-close"></i> Cancel
        </button>
      </div>
    </div>
  </form>
{% endif %}
