{% load formfieldfilters %}
{% load widget_tweaks %}

{% if success %}
  Parameters saved successfully.
{% else %}
  <form id="add_metadata_form"
        action="/ajax/add_{{type}}_parameters/{{parentObject.id}}/{{schema.id}}/"
        method="post"
        data-type="{{type}}"
        data-parent_object_id="{{parentObject.id}}">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-md-2">
         <label class="form-label" for="schemaselect">Schema</label>
      </div>
      <div class="col-md-10">
        <select id="schemaselect" class="form-select" data-type="{{type}}"
                data-parent_object_id="{{parentObject.id}}">
        {% for schema in all_schema %}
          <option value="{{schema.id}}" {% if schema.id == schema_id %}selected{% endif %}>{{schema.name}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="form-label" for="{{field.name}}">{{field.label}}</label>
          {{ field | add_class:"form-control" }}
        </div>
      </div>
    {% endfor %}
    <p class="help-block ms-0">Leave a parameter blank to remove</p>
    {% if not valid %}
      <p style="color:red">There were errors in the parameter submission. Please fix and resubmit.</p>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="submit-button btn btn-primary">
          <i class="fa fa-check"></i> Save
        </button>
        <button type="button" class="float-end cancel-button btn btn-outline-secondary" data-bs-dismiss="modal">
          <i class="fa fa-close"></i> Cancel
        </button>
      </div>
    </div>
  </form>
{% endif %}
