<script type="text/javascript">
$(document).ready(function() {
	if(!FlashDetect.installed){
		$("#flash").hide();
	}
	else
	{
		$("#noflash").hide();
	}
});
</script>
{% load uploadify_tags %}
<div class="upload_files_box">
  <div id="flash">
  <b>Upload Files To Dataset</b>
  <br/>
  <br/>
  {% multi_file_upload upload_complete_url dataset_id %}
  <br/>
  <a id="upload_go" class="btn btn-primary" href="javascript:$('#fileInput').uploadifyUpload();">
    <i class="icon-upload"></i>
    Upload Now
  </a>
  <br/>
  </div>
  <div id="noflash">
	Flash is required to upload files to a dataset.
  </div>
</div> <!-- upload_files box -->

<br/>
