{% extends "tardis_portal/search_template.html" %}

{% block searchPageBody %}

      {% if form.errors %}
      <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
      </p>
      {% endif %}

      <form name="input" action="." method="post">
        <table>
          <tr>
            <td>
              {% for field in form %}
              {{ field.label }}<br>{{ field }} {{ field.errors }}<br><br>
              {% endfor %}
            </td>
          </tr>
        </table>
        <input type="submit" value="Submit">
      </form>

{% endblock searchPageBody %}
