.tab-sticker {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    font-weight: bold;
}