.project {
    padding: 1rem 15%;
    background-color: #ffffff;
}

.experiment__table {
    margin-top: 1rem;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}

.project__name {
    margin-top: 0.2rem;
    font-weight: 650;
}

.project__label {
    font-weight: 600;
    margin-bottom: 0rem;
}
