.filter-summary-box__badge {
    margin: 0.1rem 0;
    font-weight: normal;
    font-size: 1rem;
    background-color: #5c5d5e;
    /* padding:0.35rem; */
}

.filter-summarybox__badge--op {
    background-color: #6c757d;
}

.filter-summarybox__badge--separator {
    margin: 0 0.4rem;
}

.filter-summary-box__badge-group {
    display: inline;
}

.filter-summary-box__badge-group > * {
    border-radius: 0;
}

.filter-summary-box__badge-group > :first-child {
    border-radius: 4px 0 0 4px;
}

.filter-summary-box__badge-group > :last-child {
    border-radius: 0 4px 4px 0;
}
