html{
  height: 100%;
}
body {
  min-height: 100%;
}

/* Icons */
i.o-6 {
  opacity: 0.6;
}

/* Inset brand in nav bar */
.navbar .brand a {
  color: #0097E2;
}

.brand.brand-inverse {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

@media (max-width: 991px) {
    .navbar {
        overflow: auto;
        max-height: 85vh;
        align-items: flex-start;
    }
}
/* Centered title */
.navbar .center-title {
  position: absolute;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

/* Clickable Experiments & Datasets */
.clickable-tile {
	cursor: pointer;
}

.abstract {
  text-overflow: ellipsis;
}

.abstract-clickable {
  overflow: hidden;
  text-overflow: ellipsis;
}

#collapseDescription {
    font-size: 14px;
    line-height: 1.5;
}
#collapseDescription p.collapsing {
    min-height: 42px !important;
}
#collapseDescription p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#collapseDescription p.collapsed:after  {
    content: '+ Show Description';
}

#collapseDescription p:not(.collapsed):after {
    content: '- Hide Description';
}

.truncated-text {
	white-space: nowrap;
}

/* Download checkboxes for datasets */
.dataset-download-box {
	display: none;
}

form .dataset-download-box {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.copylink {
    font-weight:bold;
    padding: 7px;
    margin: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    word-wrap: break-word;
}

.download-selected {
    font-weight: bold;
    margin-bottom: 12px;
}

/*override for bootstrap nav pills*/
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #D3DFE6;
    font-weight: bold;
    color: #0088CC;
}

/* Dataset links */

a.dataset-link {
    font-size: 110%;
    color: black;
}

a.dataset-link :hover {
    color: black;
}

/* Black links */

a.explink, a.dllink, a[rel=license], table td a {
    color: black;
}

a.explink, a.dllink, a[rel=license] :hover, table td a {
    color: black;
}

/* Group links */

a.group-link {
    color: black;
    font-weight: normal;
}

a.group-link :hover {
    color: black;
    font-weight: normal;
}

i.group-icon :hover {
    cursor: pointer;
}

/* Miscellaneous */

.datafile_name {
    word-break: break-all;
}

.info-box {
    border: 1px solid #DDDDDD;
    padding: 5px 10px 5px 10px;
    margin: 5px 20px 25px 10px;
}

.file-select {
    background-color: #D3DFE6;
}

.table tbody tr.file-select:hover td, .table tbody tr.file-select:hover th {
    background-color: #D3DFE6;
}

.pagination {
    height: auto;
}

.parameter_name {
    width: 203px;
}

.parameter_value {
    width: 400px;
}

.brand a:hover {
    color: white;
    text-decoration: none;
}

/* index page */
.experiments .accordion-toggle .explink {
    font-size: 1.3em;
}
.experiments .accordion-toggle .badgelist {
    margin-bottom: 4px;
}
.experiments .accordion-body {
    background-color: #E8F6FF;
}
.experiments .accordion-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
    background-color: #E8F6FF;
    margin: 0px 0px;
}
.experiments .accordion-inner p {
    width: 75%;
}
.experiments .accordion-inner .dataset-list-header {
    margin-left: -15px;
    font-style: italic;
    font-size: 11px;
    border: none;
    background-color: transparent !important;
    padding-top: 5px;
    padding-left: 5px;
}
.accordion-inner .list-group {
    padding-left: 10px;
}
.accordion-inner .dataset-list-item {
  border: none;
  background-color: transparent !important;
  color: black;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
}
.experiments .accordion-inner .thumbnails li {
    margin-bottom: 5px;
    margin-top: 2px;
}
.experiments .accordion-group {
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #F5FBFF;
}
.experiments .nav .nav-header {
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-shadow: none;
    font-style: italic;
    text-transform: none;
}
/* end index page */

/* dataset tiles */
.ds-thumb canvas {
    width: 100px;
}
/* end dataset tiles */

/* mydata page */
.mydata .accordion-toggle .explink {
    font-size: 1.3em;
    max-width: 67%;
}
.mydata .accordion-toggle .badgelist {
    margin-bottom: 4px;
}
.mydata .accordion-body {
    background-color: #E8F6FF;
}
.mydata .accordion-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
    background-color: #E8F6FF;
    margin: 0px 0px;
}
.mydata .accordion-inner p {
    width: 75%;
}
.mydata .accordion-inner .thumbnails li {
    margin-bottom: 5px;
    margin-top: 2px;
}
.mydata .accordion-group {
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #F5FBFF;
    margin-bottom: 20px;
}
.mydata .nav .nav-header {
    font-size: 11px;
    font-weight: normal;
    color: #000000;
    text-shadow: none;
    font-style: italic;
    text-transform: none;
}
/* end index page */
/* autocomplete defaults */
.ui-autocomplete {
    z-index: 1234 !important;
}
/* end autocomplete defaults */
/* begin search */
.search_result {
    margin-top: 0.3em;
}
.search_result div {
    margin-left: 1em;
}
.search_result div div {
    margin-left: 1em;
}
.tab-pane {
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/* end search */

/* MyTardis has switched from Bootstrap 2.0.4 to 2.3.2 for compatibilty with
 * later versions of jQuery, but this changes the default heading sizes, so
 * for now, we'll revert to the heading sizes from 2.0.4, until we have time
 * to upgrade to a more recent Bootstrap */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 {font-size: 30px; line-height: 36px;}
h1 small {font-size: 18px;}
h2 {font-size: 24px; line-height: 36px;}
h2 small {font-size: 18px;}
h3 {font-size: 18px; line-height: 27px;}
h3 small {font-size: 14px;}
h4,h5,h6 {line-height: 18px;}
h4 {font-size: 14px;}
h4 small {font-size: 12px;}
h5 {font-size: 12px;}
h6 {font-size: 11px;color: #999999;text-transform: uppercase;}
.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eeeeee
}

.datasets.thumbnails {
    list-style-type: none;
    padding-inline-start: 0;
}
.list-inline-item {
    margin-left: 10px;
    margin-top: 5px;
}
.list-inline-item>a {
    margin-bottom: 0;
}

/* Padding from Bootstrap v2: */
.accordion-heading .accordion-toggle {
  padding: 8px 15px;
}

/* Ensure modals have vertical scrollbars if necessary */
.modal-dialog {
    overflow-y: initial !important
}
.modal-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}
.w-66 {
    width: 66%;
}
.fa-sigma:before {
content: "\03a3";
font-family: sans-serif;
}
