{% extends "tardis_portal/portal_template.html" %}
{% load render_bundle from webpack_loader %}
{% load project_tags %}
{% load humanize %}
{% load bleach_tag %}

{% block content %}

<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="d-block d-sm-none">Projects</h3>
      <div class="pull-left">
          <h3 class="d-none d-sm-block" style="text-align: center">Projects</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if not public_projects %}
      <p class="alert alert-info">
        No projects have been made public yet.
      </p>
      {% else %}
      <div class="pull-left">
        <h4><strong>{{ public_projects.count }}</strong>
        Public Project{{ public_projects.count|pluralize}}
        </h4>
      </div>
      <div class="pull-right mb-1">
        <button type="button" class="btn btn-outline-secondary btn-sm"
                onclick="$('#public-projects .collapse').collapse('hide');" >
        Collapse all</button>
        <button type="button" class="btn btn-outline-secondary btn-sm"
                onclick="$('#public-projects .collapse').collapse('show');" >
        Expand all</button>
      </div>
      <div class="clearfix"></div>
      <div id="public-projects" class="panel-group projects">
        {% for proj in public_projects %}
          <div class="card mb-2">
              <div class="card-header accordion-toggle" data-parent="#public-projects"
                   data-toggle="collapse" onclick="$('#collapse{{proj.id}}').collapse('toggle');">
                <div class="row">
                  <div class="col-md-8 px-1 pb-1">
                    <a class="card-title projlink"
                       href="{% url 'tardis.apps.projects.view_project' proj.id %}">{{ proj.name }}
                    </a>
                  </div>
                  <div class="col">
                    <div class="projectbadges" id="badge-{{proj.id}}"></div>
                  </div>
                </div> {% comment %} class="row" {% endcomment %}
                <div class="row">
                  <div class="col">
                    <span class="float-right">
                      {% if proj.public_download_allowed %}
                        {% for dltype, dlurl in proj.get_download_urls.items %}
                          {% if forloop.first %}
                            <a class="dllink" href="{{dlurl}}"
                               title="Download Entire Project as {{dltype}}">
                              <i class="fa fa-download"></i>
                              <em>Download data as .{{dltype}}</em>
                            </a>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </div>
                </div>
              </div>
              <div id="collapse{{proj.id}}" class="card-body collapse in py-2" data-parent="#public-projects">
                <div class="row">
                  <div class="col-md-9 px-1">
                  <div class="accordion-inner">
                    <p class="card-text small mb-1">
                      {{proj.description|default:""|bleach}}
                    </p>
                    {% for exp in proj.experiments.all|dictsortreversed:"id"|slice:":1" %}
                      {% if forloop.first %}
                        <ul class="list-group borderless mt-2">
                          <li class="list-group-item experiment-list-header small px-1 py-1">
                            <em>Latest experiment in this project:</em>
                          </li>
                      {% endif %}
                      <li class="list-group-item experiment-list-item small px-2 py-1">
                          <i class="fa fa-folder o-6"></i>
                          <a class="experiment-link"
                             href="{% url 'tardis_portal.view_experiment' exp.id %}">
                            {{ exp.title }}
                          </a>
                      {% if proj.public_download_allowed %}
                        {% for datafile in exp.get_images|slice:":5" %}
                          {% if forloop.first %}
                            <ul class="thumbnails list-inline">
                          {% endif %}
                          <li class="list-inline-item">
                            <a class="thumbnail" href="{% url 'tardis.tardis_portal.download.view_datafile' datafile.id %}">{% url 'tardis.tardis_portal.iiif.download_image' datafile_id=datafile.id region='full' size=',50' rotation=0 quality='native' format='jpg' as thumbnail %}
                            <img alt="Thumbnail for Datafile #{{datafile.id}}"
                               src="{{ thumbnail }}"
                                 onerror="$(this).hide()"/></a>
                          </li>
                          {% if forloop.last %}
                            </ul>
                          {% endif %}
                        {% endfor %}
                        {% endif %}
                      </li>
                      {% if forloop.last %}
                        </ul>
                      {% endif %}
                      {% empty %}
                        <ul class="list-group borderless mt-2">
                          <li class="list-group-item experiment-list-header small px-1 py-1">
                            <em>There are no experiments in this project.</em>
                          </li>
                        </ul>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
    $("#projects .accordion-body").collapse({parent:"#projects", toggle: true});
    $(".projlink").on("click", function(e) {
        e.stopPropagation();
    });
    $(".dllink").on("click", function(e) {
        e.stopPropagation();
    });
});
</script>
{% render_bundle 'project_badges' %}
{% endblock %}
