{% extends "tardis_portal/portal_template.html" %}
{% load render_bundle from webpack_loader %}
{% load bleach_tag %}

{% block content %}

<div class="modal" id="modal-metadata" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Add Parameters</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="loading-placeholder" style="display: none">
        <p>Please wait... <img src="{% static 'images/ajax-loader.gif'%}" alt="loading" /></p>
      </div>

      <div class="modal-body"></div>

    </div>  <!-- class="modal-content" -->
  </div>  <!-- class="modal-dialog" -->
</div>

<div class="page-header">
  <h4>Project</h4>
  {% if has_write_permissions %}
  <div class="float-right">
  <a class="btn btn-sm btn-outline-secondary" title="Edit Project"
     href="{{ project.get_edit_url }}">
    <i class="fa fa-pencil"></i>
    Edit Project
  </a>
  </div>
  {% endif %}

  <h1><span property="dc:title">{{ project.name }}</span></h1>
  <span id="abstractText">{{ project.description }}</span>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="metadata-pane">
      {% include "ajax/project_metadata.html" %}
    </div>  <!-- id="metadata-pane" -->
  </div>  <!-- class="col-md-6" -->

  <div class="col-md-6">
    <div id="project-app"></div>
    {% render_bundle 'project_app' %}
  </div>  <!-- class="col-md-6" -->
</div>
{% endblock content%}
