/* Inset brand in nav bar */
.brand.brand-inverse {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

/* Centered title */
.navbar .center-title {
  position: absolute;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

/* Clickable Experiments & Datasets */
.clickable-tile {
	cursor: pointer;
}

.abstract {
  text-overflow: ellipsis;
}

.abstract-clickable {
  overflow: hidden;
  text-overflow: ellipsis;
}

#abstract-toggle {
    margin-bottom: -7px;
    display: none;
}

.truncated-text {
	white-space: nowrap;
}

/* Elements that just don't work without JS */
.no-js .js-required {
	display: none;
}

/* Download checkboxes for datasets */
.dataset-download-box {
	display: none;
}

form .dataset-download-box {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.copylink {
    font-weight:bold;
    padding: 7px;
    margin: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    word-wrap: break-word;
}

.download-selected {
    font-weight: bold;
    margin: 3% 0 2% 0;
}

/*override for bootstrap nav pills*/
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #D3DFE6;
    font-weight: bold;
    color: #0088CC;
}

.dataset-link {
    font-weight: bold;
    font-size: 110%;
}

.datafile_name {
    font-size: 110%;
    font-weight: bold;
}

.info-box {
    border: 1px solid #DDDDDD;
    padding: 5px 10px 5px 10px;
    margin: 5px 20px 25px 10px;
}

.file-select {
    background-color: #D3DFE6;
}

.table tbody tr.file-select:hover td, .table tbody tr.file-select:hover th {
    background-color: #D3DFE6;
}

.pagination {
    height: auto;
}

.parameter_name {
    width: 203px;
}

.parameter_value {
    width: 400px;
}

.brand a:hover {
    color: white;
    text-decoration: none;
}

#login-button {
display: inline-block;
padding: 4px 10px 4px;
margin: 5px 5px 6px;
line-height: 18px;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#login-button:hover {
    background-color: #2f96b4;
}

/* index page */
#experiments .accordion-toggle .explink {
    font-size: 1.3em;
}
#experiments .accordion-toggle .badgelist {
    margin-bottom: 4px;
}
#experiments .accordion-inner {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
    background-color:#F4F4F4;
    margin: 5px 5px;
}
#experiments .accordion-inner p {
    width: 75%;
}
#experiments .accordion-inner .dataset-list-header {
    margin-left: -30px;
}
#experiments .accordion-inner .thumbnails li {
    margin-bottom: 5px;
    margin-top: 2px;
}
/* end index page */
