/* Inset brand in nav bar */
.brand.brand-inverse {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

/* Centered title */
.navbar .center-title {
  position: absolute;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

/* Sidebar toggle */
.sidebar-toggle-open {
	position: absolute;
	right: 0;
	z-index: 10;
	overflow: hidden;
}
.sidebar-toggle-open .sidebar-toggle-button {
  margin-right: -5px;
}
.sidebar-toggle-open-hidden .sidebar-toggle-button {
	margin-right: -50px;
}

/* Clickable Experiment */
.experiment-table td.experiment-clickable {
	cursor: pointer;
}

.abstract {
  text-overflow: ellipsis;
}

.abstract-clickable {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated-text {
	white-space: nowrap;
}
