{% extends "tardis_portal/portal_template.html" %}
{% load static %}

{% block script %}
<script  type="text/javascript" src="{% static 'js/sftp/sftp.js' %}"></script>
{% endblock script %}

{% block style %}
<link href="{% static 'css/sftp/sftp.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="my-3">SSH Keys</h2>
  <p>Add and manage your public SSH keys for accessing {{site_title|default:'MyTardis'}} via SFTP.</p>
  <ul class="list-inline">
    <li class="list-inline-item mx-0">
      <a class="btn btn-outline-secondary" data-bs-toggle="modal" href="#keyGenerateModal">
        <i class="fa fa-plus"></i> Generate Key
      </a>
    </li>
    <li class="list-inline-item mx-0">
      <a class="btn btn-outline-secondary" data-bs-toggle="modal" href="#keyAddModal">
        <i class="fa fa-plus"></i> Add Key
      </a>
    </li>
  </ul>
  <div id="keyTable">
    <i class="fa fa-2x fa-spinner fa-pulse"></i> Loading keys...
  </div>
</div>

<div class="modal" id="keyAddModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <form id="keyAddForm" class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add SSH Keys</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="sftp.clearKeyAddForm();"></button>
      </div>
      <div class="modal-body">
        <p>Add your own public SSH Key using the form below. <b>Important:</b> Don't add your private key.</p>
        <div class="row mb-3">
          <div class="col-12">
            <label class="form-label" for="keyName">Device Name:</label>
            <input type="text" id="keyName" class="form-control" name="name">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label class="form-label" for="key">Public Key:</label>
            <textarea id="key" class="form-control" rows="6" name="public_key"></textarea>
          </div>
        </div>
        <div id="keyAddAlert" class="alert alert-danger mb-3" style="display: none;">
          <div id="keyAddAlertMessage"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="return sftp.clearKeyAddForm();">
          <i class="fa fa-close"></i> Close
        </button>
        <button class="btn btn-primary" onclick="return sftp.addKey();">
          <i class="fa fa-plus"></i> Add Key
        </button>
      </div>
    </form>  <!-- class="modal-content" -->
  </div>  <!-- class="modal-dialog" -->
</div>

<div class="modal" id="keyGenerateModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Generate an SSH key pair</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="sftp.clearKeyGenerateForm();"></button>
      </div>
      <div class="modal-body">
        <p>{{site_title|default:'MyTardis'}} can generate an SSH key pair for you. Only the public part of the key pair will be stored by {{site_title|default:'MyTardis'}} and you will be provided with a one time opportunity to download the private part of the key pair.</p>
        {% if not enable_generate %}
          <div class="alert alert-danger" role="alert">
            The SSH key generation feature has been disabled because your connection is insecure.<br/>
            Please contact your MyTardis service administrator about securing your connection.
          </div>
        {% else %}
          <form id="keyGenerateForm" class="mb-4"
                action="{% url 'tardis.apps.sftp:sftp_keys' %}" method="post">
            <div class="row mb-3">
              <div class="col-12">
                <label class="form-label" for="id_name">Name</label>
                <input type="text" name="name" maxlength="256" class="form-control" required="required" id="id_name">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-download"></i> Generate &amp; Download
            </button>
          </form>
          <p><b>Important:</b> Keep your private key in a safe place. Anyone with access to the private key will be able to access your data on {{site_title|default:'MyTardis'}}.</p>
          <div id="keyGenerateAlert" class="alert alert-danger" style="display: none">
            <div id="keyGenerateAlertMessage"></div>
          </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-bs-dismiss="modal" onclick="sftp.clearKeyGenerateForm()">
          <i class="fa fa-close"></i> Close
        </button>
      </div>
    </div>  <!-- class="modal-content" -->
  </div>  <!-- class="modal-dialog" -->
</div>
{% endblock content %}
