{% extends "tardis_portal/portal_template.html" %}
{% load static %}

{% block script %}
<script  type="text/javascript" src="{% static 'js/sftp/sftp.js' %}"></script>
{% endblock script %}

{% block style %}
<link href="{% static 'css/sftp/sftp.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="col-md-8">
  <h2>SSH Keys</h2>
  <p>Add and manage your public SSH keys for accessing {{site_title|default:'MyTardis'}} via SFTP.</p>
  <div class="row">
    <div class="ml-auto" style="margin: 0px 0px 10px 10px;">
      <a class="btn btn-outline-secondary" data-bs-toggle="modal" href="#keyGenerateModal">
        <i class="fa fa-plus"></i>
        <span>Generate key</span>
      </a>
    </div>
    <div style="margin: 0px 0px 10px 10px;">
      <a class="btn btn-outline-secondary" data-bs-toggle="modal" href="#keyAddModal">
        <i class="fa fa-plus"></i>
        <span>Add key</span>
      </a>
    </div>
  </div>
  <div class="row">
    {# Note: This table is loaded via AJAX. Check sftp.loadKeyTable() method in static/js/sftp/sftp.js #}
    <div id='keyTable'>
      <span><i class="fa fa-2x fa-spinner fa-pulse"></i> Loading keys...</span>
    </div>
  </div>
</div>

<div class="modal" id="keyAddModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <form id="keyAddForm" class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add SSH Keys</h3>
        <button type="button" class="close" data-dismiss="modal" onclick="sftp.clearKeyAddForm()">×</button>
      </div>
      <div class="modal-body">
        <div>
          <span>Add your own public SSH Key using the form below.</span>
          <span><b>Important:</b> Don't add your private key.</span>
        </div>
        <div class="form-group mt-1">
          <label for="keyName">Device Name:</label>
          <input type="text" id="keyName" class="form-control" name="name">
        </div>
        <div class="form-group">
          <label for="key">Public Key:</label>
          <textarea id="key" class="form-control" rows="6" name="public_key"></textarea>
        </div>
        <div class="form-group">
          <div id="keyAddAlert" class="alert alert-danger" style="display: none;">
            <div id="keyAddAlertMessage"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" style="margin: 0px 0px 10px 10px;" data-dismiss="modal" onclick="sftp.clearKeyAddForm();return false;">
          <i class="fa fa-close"></i>
          Close
        </button>
        <button class="btn btn-primary" style="margin: 0px 0px 10px 10px;" onclick="sftp.addKey();return false;">
          <i class="fa fa-plus"></i>
          Add Key
        </button>
      </div>
    </form>  <!-- class="modal-content" -->
  </div>  <!-- class="modal-dialog" -->
</div>

<div class="modal" id="keyGenerateModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Generate an SSH key pair</h3>
        <button type="button" class="close" data-dismiss="modal" onclick="sftp.clearKeyGenerateForm()">×</button>
      </div>
      <div class="modal-body">
        <p>{{site_title|default:'MyTardis'}} can generate an SSH key pair for you. Only the public part of the key pair will be stored by {{site_title|default:'MyTardis'}} and you will be provided with a one time opportunity to download the private part of the key pair.</p>
        <br>
        <form id="keyGenerateForm" action="{% url 'tardis.apps.sftp:sftp_keys' %}" method="post">
          {% if enable_generate %}
          {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              The SSH key generation feature has been disabled because your connection is insecure.
              Please contact your MyTardis service administrator about securing your connection.
            </div>
          {% endif %}
          <div class="form-group">
            <label class="col-form-label" for="id_name">Name</label>
            <div class=" ">
              {% if enable_generate %}
                <input type="text" name="name" maxlength="256" class="form-control" required="required" id="id_name">
              {% else %}
                <input type="text" name="name" maxlength="256" class="form-control" disabled required="" id="id_name">
              {% endif %}
            </div>
          </div>
          {% if enable_generate %}
            <button type="submit" class="btn btn-outline-secondary">
          {% else %}
            <button type="submit" class="btn btn-outline-secondary" disabled>
          {% endif %}
              <i class="fa fa-download"></i>
              Generate &amp; Download
            </button>
        </form>
        <br/>
        <p><b>Important:</b> Keep your private key in a safe place. Anyone with access to the private key will be able to access your data on {{site_title|default:'MyTardis'}}.</p>
        <div id="keyGenerateAlert" class="alert alert-danger" style="display: none">
          <div id="keyGenerateAlertMessage"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss="modal" onclick="sftp.clearKeyGenerateForm()">
          <i class="fa fa-close"></i>
          Close
        </button>
      </div>
    </div>  <!-- class="modal-content" -->
  </div>  <!-- class="modal-dialog" -->
</div>
{% endblock content %}

