<script type="text/javascript" src="/static/clipboard/dist/clipboard.min.js"></script>
<script type="text/javascript">
    var clipboard = new Clipboard('.btn.clipboard');
    {% comment %}
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    {% endcomment %}
</script>
<script type="text/javascript" src="/static/publication-tokens/publication_tokens.js"></script>
<div class="access_list3" ng-controller="PublicationTokensController as pubTokensCtrl">
<div class="tokens" style="padding: 15px;">
  {% verbatim %}
  <div class="access_list_tokens">
    <p ng-show="!pubTokensCtrl.tokens.length">No tokens defined </p>
    <table class="table table-striped">
            <tr ng-show="pubTokensCtrl.tokens.length">
                <th style="width: 30%;">
                    Temporary Link
                </th>
                <th style="width: 30%;">Archive direct download</th>
                <th style="width: 20%;">
                    Expiry
                </th>
                <th style="width: 20%;" colspan=2>
                    Granted By
                </th>
            </tr>
            <tr ng-repeat="token in pubTokensCtrl.tokens">
                <td>
                    <a href="{{ token.url }}"
                    style="font-weight: bold;">Page link</a><br/>
                    <button class="btn clipboard" data-clipboard-text="{{ token.url }}">
                        <span class="fa fa-share"></span> Copy to clipboard</button>
                </td>
                <td>
                    <a href="{{ token.download_url }}"
                    style="font-weight: bold;">Archive link</a><br/>
                    <button class="btn clipboard" data-clipboard-text="{{ token.download_url }}">
                        <span class="fa fa-share"></span> Copy to clipboard</button>
                </td>
                <td align="center">
                    {{ token.expiry_date }}
                </td>
                <td align="center">
                    {{ token.username }}
                </td>
                <td>
                  <a ng-show="token.is_owner" title="Delete Token"
                    ng-click="pubTokensCtrl.deleteToken(token)"
                    ahref="/token/delete/{{ token.id }}/"
                    class="token_delete btn btn-danger btn-mini"
                    data-toggle_selector="#token_toggle_{{token.experiment_id}}">
                    <i class="fa fa-remove"></i>
                    Delete
                  </a>
                </td>
            </tr>
        </table>
  </div> <!-- access_list_tokens -->
  {% endverbatim %}
        {% if is_owner or is_superuser %}
        <a title="Create New Temporary Link"
            ng-click="pubTokensCtrl.createToken()"
            class="create_token_link btn btn-mini">
            <i class="fa fa-plus-sign"></i>
            Create New Temporary Link
        </a>
        {% endif %}
</div> <!-- tokens -->
</div>
