{% if object %}
  <div class="post">
    <div class="entry">
      <table>
	<tr>
	  <td>Unique ID:</td>
	  <td>{{ object.uid}}</td>
    </tr>
    <tr>
      <td>Contact person</td>
      <td>{% for admin in admins %}{% if not forloop.first %}, {% endif %}{{admin}}{% endfor %}</td>
    </tr>
	<tr>
	  <td>Synced From:</td>
	  <td>{{ object.provider_url}}</td>
	</tr>
	<tr>
	  <td>Status:</td>
      <td>{{ object.state }}{% if message.progress %} ({{message.progress}}){% endif %}{% if message.error %} ({{message.human_status}}:{{message.error}}){% endif %}</td>
    </tr>
      </table>
    </div> <!-- entry -->
  </div> <!-- post -->
{% else %}
<p>This experiment has been added locally and is not synced from another institution</p>
{% endif %}
