.result-row--download-col {
    width: 100px;
}

.result-section--msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex: 1;
    height: 100%;
    padding: 2em;
}

.result-section--error-msg {
    background-color: rgba(0, 0, 0, 0.05);
}

.result-section--tabpanel {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 1em;
    background-color: white;

    /* Make result list and entry card take up available space */
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

}

.tabpanel__container--horizontal {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* Make result list and entry card take up available space */
    flex: 1;
}

.result-section__container {
    flex: 1;
    overflow-y: auto;
}

.result-section--count-summary {
    padding: 1em 0;
}

.result-section--row:focus {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

