.result-row--download-col {
    width: 100px;
}

.result-section--msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.result-section--error-msg {
    background-color: rgba(0, 0, 0, 0.05);
}

.result-section--tabpanel {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 1em;
    padding-bottom: 2em;
    background-color: white;

}

.tabpanel__container--horizontal {
    display: flex;
    flex-direction: row;
}

.tabpanel__container--horizontal > * {
    flex: 1;
}

.result-section--count-summary {
    padding: 1em 0;
}

.result-section__container {
    display: flex;
    flex-direction: row;
}

.result-section__preview-card {
    display: flex;
}

.result-section__result-list {
    display: flex;
}

.result-section--row:focus {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}

