/*
Make the search page take up the whole viewport, but also to make sure
search results show up as scrollable.
*/
body {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #FAFCFF;
}

#content-container, #content-row, #content, #search-app, .search-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.search-page {
    width:100%;
    margin: 3rem 0;
}

.search-screen {
    display: flex;
    height: 100%;
}

.filter-column, .result-column {
    height: 100%;
    justify-items: space-between;
}

.filter-column {
    flex: 0 0 350px;
    border: 1px solid lightgray;
    padding: 1.5rem 1rem;
    background-color: white;
    overflow-y: auto;
}   

.result-column {
    flex: 1 0 600px;
    margin-left: 20px;
    /*
        In order to show search result list and entry preview card take up
        all of available space, we use the column-direction flexbox. 
    */
    display: flex;
    flex-direction: column;
    /* Make overflow hidden here so result list and entry preview card scrollable
       independently. */
    overflow: hidden
}

.result-column > * {
    margin-bottom: 1rem;
}

.result-column > :last-child {
    margin-bottom: 0;
}
