.search-page {
    padding-top: 50px;
    width:100%;
    min-height: 90vh;
    background-color: #FAFCFF;
}

.search-screen {
    margin-top:1em;
    display: flex;
}

.filter-column, .result-column {
    height: 70vh;
    overflow-y: auto;
    justify-items: space-between;
}

.filter-column {
    flex: 0 0 350px;
    border: 1px solid lightgray;
    padding: 30px;
    background-color: white;
}

.result-column {
    flex: 1 0 600px;
    margin-left: 20px;
    /*
        In order to show search result list and entry preview card take up
        all of available space, we use the column-direction flexbox. 
    */
    display: flex;
    flex-direction: column;
    /* Make overflow hidden here so result list and entry preview card scrollable
       independently. */
    overflow: hidden
}
