app {
    padding-top: 50px;
}

.input-group-btn .btn-group {
    display: flex !important;
}
.form-control{
    border-radius: 0px;
}
.btn {
    border-radius: 0;
    margin-top: -2px;
}
.btn-group .btn {
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-primary {
    border-radius: 0px;
}
.count-badge{
    margin-left: 10px;
    border-radius: 10px;
}


.panel{
    border: none;
    box-shadow: none;
    margin-bottom: 0px;
}
.panel-body {
    padding: 0px 0px 15px 0px;

}
form#adv-search-form button[type="submit"] {
    margin-top: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    position: inherit;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
    #simple-search {
        width: 500px;
        display: inline-block;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/* react tags*/

.react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* shared font styles */
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
}

.react-tags.is-focused {
    border-color: #B1B1B1;
}

.react-tags__selected {
    display: inline;
}

.react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__selected-tag:after {
    content: '\2715';
    color: #AAA;
    margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
    border-color: #B1B1B1;
}

.react-tags__search .form-group .form-control .input-group {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {

    .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
        margin: 5px;
    }

}

.react-tags__search input {
    /* prevent autoresize overflowing the container */
    width: 100%;
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__search input::-ms-clear {
    display: none;
}

.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {

    .react-tags__suggestions {
        width: 240px;
    }

}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
}

.react-tags__suggestions li.is-active {
    background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}

/* react date picker*/
.react-datepicker-wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}

.react-datepicker__input-container {
    padding: 5px;
    border: none;
}

.react-datepicker__input-container input {
    border: none;
}

.react-datepicker__input-container :focus {
    outline: none;
}

#exTab1 {
    padding: 10px;
}
.fa {
    margin-right: 10px;
}
.custom-bullet :before
{
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}
.accordion-body {
    padding: 5px;
    background-color: #E8F6FF;
}