.sortoptions .sortoptions--item:first-child {
    margin-top:0.5rem;
}

.sortoptions .sortoptions--item:last-child {
    margin-bottom:0.5rem;
}

.sortoptions--item {
    display: flex;
    user-select: none;
    padding: 0.75rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.sortoptions-item--priority {
    width: 1rem;
    margin-left: 1rem;
}

.sortoptions-item--label {
    flex: 1;
    padding-left: 0.25rem;
}

.sortoptions-item--sortorder-asc, .sortoptions-item--sortorder-desc {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.sortoptions--item label {
    /* Reset bootstrap styling*/
    margin-bottom: 0;
}