{% extends "tardis_portal/portal_template.html" %}
{% load static from staticfiles %}

{% block script %}
<script  type="text/javascript" src="{% static 'js/sftp/sftp.js' %}"></script>
{% endblock script %}

{% block content %}
<div class="span8">
  <h2>SSH Keys</h2>
  <p>Add and manage your public SSH keys for accessing {{site_title|default:'MyTardis'}} via SFTP.</p>
  <div class="row-fluid">
    <div class="pull-right" style="margin: 9px 0;">
      <a class="btn btn-success" data-toggle="modal" href="#keyCreateModal">
        <i class="fa fa-plus"></i>
        <span>Add key</span>
      </a>
    </div>
  </div>
  <div class="row-fluid">
    {% for key in keys %}
    {% if forloop.first %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Key</th>
        </tr>
      </thead>
      {% endif %}
      <tr id="keyRow{{key.id}}">
        <td>
          <div class="pull-left">
            <h4>{{key.name}}</h4>
            <p>Fingerprint: {{key.fingerprint}}</p>
            <p>Date added: {{key.added}}</p>
          </div>
          <button class="btn btn-large btn-danger pull-right" onclick="handleKeyDelete({{key.id}})">
            <i class="fa fa-trash"></i>
            <!--<span>Delete</span>-->
          </button>
        </td>
      </tr>
    {% if forloop.last %}
    </table>
    {% endif %}
    {% empty %}
    <div class="alert alert-block alert-warning">
      <span class="message">You don't have any public keys registered. Please add keys using the Add key button above.</span>
    </div>
    {% endfor %}
  </div>
</div>
<div class="modal hide" id="keyCreateModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Create or Add SSH Keys</h3>
    <span>You can either (1) add your own public SSH Key or (2) allow us to create you a key pair and download the private key.
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span6">
        <h4>Create </h4>
      </div>
      <div class="span6">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>
{% endblock content %}

