{% for datafile in dataset %}
<li class="datafile">
	<a class="filelink" href="download?url={{datafile.url|urlencode}}">{{ datafile.filename }}</a> {% if datafile.size %}({{ datafile.size|filesizeformat }}){% endif %}
	
	{% if datafile.datafileparameter_set.count %}
	<a class="datafile_info_toggle" href="/ajax/parameters/{{ datafile.id}}">[Metadata]</a>
	<ul class="datafile_info">

	</ul>
	{% endif %}
	
	{% if datafile.xml_data_set.count %}
	<a class="datafile_info_toggle" href="/ajax/xml_data/{{ datafile.id }}">[Metadata]</a>
	<ul class="datafile_info" style="width: 95%; overflow:auto; padding: 5px; font-size: 12px">

	</ul>
	{% endif %}	
	
</li>
{% endfor %}