{%extends "tardis_portal/data_browsing_template.html" %}
{% load experimentstats %}

{% block script %}

{% include "tardis_portal/javascript_libraries.html" %} 

<script type="text/javascript">
$(document).ready(function(){
  var users = (function () {
  var val = null;
  var authMethod = "localdb";
  var data = { authMethod: authMethod };
  $.ajax({
    'async': false,
    'global': false,
    'data': data,
    'url': '/ajax/parameter_field_list',
    'success': function (data) {
       val = data;
     }
   });
 return val;
})();
  

$("#id_q").result(function(event, ui){
       $('#id_q').autocomplete(["test"]) 
});
-->
});
</script>
{% endblock script %}

{% block content %}
    <div id = "content">
      <div class="post">
       <div class = "entry">  
    {% if query %}
    <h2>Search Results for <em>{{ query }}</em></h2>
      {% for key, result in experiments.items %}
        {% ifequal result.sr.model_name 'experiment' %}
          {% include "search/experiment_result.html" %}
        {% else %}
        {% ifequal result.sr.model_name 'dataset' %}
          {% include "search/dataset_result.html" %}
        {% else %}
        {% ifequal result.sr.model_name 'dataset_file' %}
          {% include "search/dataset_file_result.html" %}
          {% endifequal %}{% endifequal %}{% endifequal %}

           {% empty %}
            <p>No Results found</p>
        {% endfor%}
    {% endif %}

    </div> <!-- entry -->
      </div> <!-- post -->
    </div> <!-- content -->
{% endblock content%}
