{% extends "tardis_portal/portal_template.html" %}

{% block content %}
    <h2>Search {{ site_title }}</h2>
    <p>
    <form method="GET" action=".">
        <input name="q" title="search phrase" type="text" value="{{ query }}">
        <input class="btn btn-success" type="submit" value="Search">
    </form>
    </p>
    {% if query %}
        <h3>Search Results</h3>

        {% with page.object_list as results %}
            {% regroup results|dictsort:"verbose_name_plural" by verbose_name_plural as grouped_objects %}
            {{ grouped_objects }}
            {% for ct in grouped_objects %}
                {{ ct.grouper }}
                {% for result in ct.list %}
                    <p>
                        <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                    </p>
                {% endfor %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        {% endwith %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        Enter your search term to search Experiment, Dataset and Datafile names
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock content%}
