{%extends "tardis_portal/data_browsing_template.html" %}
{% load experimentstats %}

{% block content %}
<div id = "content">
  <div class="post">
    <div class = "entry">  
        <h1 class="title">Search Results for <em>{{ query|default:"' '"}}</em></h1>
      {% if experiments%}
      <strong>{{experiments.items|length}}</strong> Experiment{{experiments.items|length|pluralize}}
      {% endif %}
      {% for key, result in experiments.items %}
      {% ifequal result.sr.model_name 'experiment' %}
        {% include "search/experiment_result.html" %}
      {% else %}
        {% ifequal result.sr.model_name 'dataset' %}
          {% include "search/dataset_result.html" %}
      {% else %}
        {% ifequal result.sr.model_name 'dataset_file' %}
          {% include "search/dataset_file_result.html" %}
      {% else %}
        {% include "tardis_portal/experiment_result.html" %}
      {% endifequal %}{% endifequal %}{% endifequal %}
      {% empty %}
        <p>No Results found</p>
      {% endfor%}

    </div> <!-- entry -->
  </div> <!-- post -->
</div> <!-- content -->
{% endblock content%}
