name: Test Mytardis GraphQL API

on: [push, pull_request]

jobs:
  build:

    runs-on: [ubuntu-20.04]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install prerequisites
      run: |
        sudo apt-get update -yqq
        sudo apt-get -yqq install --no-install-recommends -o=Dpkg::Use-Pty=0 \
          libldap2-dev libsasl2-dev libmagic-dev libmagickwand-dev \
          libssl-dev libxml2-dev libxslt1-dev zlib1g-dev \
          libfreetype6-dev libjpeg-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -Ur requirements.txt
    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: npm install
    - run: npm run build
    - run: mkdir -p var/store
    - name: create settings file
      run |
      echo "from .default_settings import *\n\DEBUG = True\n\DATABASES['default']['ENGINE'] = 'django.db.backends.sqlite3'\n\DATABASES['default']['NAME'] = 'tardis_db'\n\GRAPHQL = True\n" >> tardis/settings.py
      python -c "import os; from random import choice; key_line = '%sSECRET_KEY=\"%s\"\n' % ('from .default_settings import * \n\n' if not os.path.isfile('tardis/settings.py') else '', ''.join([choice('abcdefghijklmnopqrstuvwxyz0123456789@#%^&*(-_=+)') for i in range(50)])); f=open('tardis/settings.py', 'a+'); f.write(key_line); f.close()"
      cat tardis/settings.py
    - name: run migration
      run: python manage.py migrate
      env:
        DJANGO_SETTINGS_MODULE: tardis.settings
    - name: create superuser
      run: |
        python manage.py createsuperuser --noinput
      env:
        DJANGO_SETTINGS_MODULE: tardis.settings
        DJANGO_SUPERUSER_PASSWORD: admin
        DJANGO_SUPERUSER_USERNAME: admin
        DJANGO_SUPERUSER_EMAIL: admin@admin.com
    - name: run graphQL tests
      run: |
        python manage.py runserver &
        sleep 2
        newman run tardis/tardis_portal/graphql/tests/Experiments.postman_collection.json -r cli,json --verbose
      env:
        DJANGO_SETTINGS_MODULE: settings
