name: Test Mytardis

on: [push, pull_request]

jobs:
  build:
    runs-on: [ubuntu-20.04]
    strategy:
      matrix:
        python-version: [ '3.6', '3.7', '3.8', '3.9' ]
    name: Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install prerequisites
      run: |
        sudo apt-get update -yqq
        sudo apt-get -yqq install --no-install-recommends -o=Dpkg::Use-Pty=0 \
          libldap2-dev libsasl2-dev libmagic-dev libmagickwand-dev \
          libssl-dev libxml2-dev libxslt1-dev zlib1g-dev \
          libfreetype6-dev libjpeg-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -Ur requirements.txt
  pylint:
    needs: build
    runs-on: [ubuntu-20.04]
    strategy:
      matrix:
        python-version: [ '3.6', '3.7', '3.8', '3.9' ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install prerequisites
      run: |
        sudo apt-get update -yqq
        sudo apt-get -yqq install --no-install-recommends -o=Dpkg::Use-Pty=0 \
          libldap2-dev libsasl2-dev libmagic-dev libmagickwand-dev \
          libssl-dev libxml2-dev libxslt1-dev zlib1g-dev \
          libfreetype6-dev libjpeg-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -Ur requirements.txt
    - name: pylint-${{ matrix.python-version }}
      run: |
        pylint --rcfile .pylintrc --django-settings-module=tardis.test_settings tardis
  test:
    needs: pylint
    runs-on: [ubuntu-20.04]
    strategy:
      matrix:
        python-version: [ '3.6', '3.7', '3.8', '3.9' ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install prerequisites
      run: |
        sudo apt-get update -yqq
        sudo apt-get -yqq install --no-install-recommends -o=Dpkg::Use-Pty=0 \
          libldap2-dev libsasl2-dev libmagic-dev libmagickwand-dev \
          libssl-dev libxml2-dev libxslt1-dev zlib1g-dev \
          libfreetype6-dev libjpeg-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -Ur requirements.txt
      - name: tests-${{ matrix.python-version }}
        run: |
          mkdir -p var/store
          python test.py
