{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html ng-app="push-to">
<head lang="en">
    <meta charset="UTF-8">
    <title>Push to - Select path</title>
    {% render_bundle 'push_to_app' %}
    <script type="text/javascript" src="{% static 'push-to.js' %}"></script>
    <script type="text/javascript">
        var remote_destination_name = '{{ remote_destination_name }}';
        var remote_path_verify_url = '{{ remote_path_verify_url }}';
    </script>
</head>
{% verbatim %}
<body ng-controller="DestinationSelectorCtrl">
    <div class="container h-100" ng-if="loading">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <p class="mt-2">Checking remote host...</p>
            </div>
        </div>
    </div>
    <div class="container py-5" ng-if="!loading">
        <p>Enter a destination for your files:</p>
        <div class="d-flex flex-row align-top">
            <div>
                <a class="btn btn-sm btn-outline-secondary"
                   ng-click="destinationPath = defaultPath">
                    <i class="fa fa-home"></i>
                </a>
            </div>
            <div class="p-1"></div>
            <div>
                <input type="text" class="typeahead form-control" sf-typeahead datasets="validPaths" options="pathOptions" ng-model="destinationPath">
                <a ng-href="?path={{ destinationPath }}" type="button" class="btn btn-primary">Push</a>
            </div>
            <div class="p-1"></div>
            <div class="spinner-border spinner-border-sm text-secondary align-self-center" role="status" ng-if="ajaxRunning"></div>
        </div>
    </div>
</body>
{% endverbatim %}
</html>
