{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Push to - Error</title>
    {% render_bundle 'push_to_app' %}
    <style>
        html,body {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Oops...</h4>
                <hr>
                {{ message | safe }}
                <div class="mt-3">
                    <a href="javascript:history.back();" class="btn btn-primary">Try again</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
