{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Push to - Success</title>
    {% render_bundle 'push_to_app' %}
</head>

<body>
    <div class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Success</h4>
                <hr>
                {{ message | safe }}
            </div>
        </div>
    </div>
</body>

</html>