{% extends "portal_template.html" %}
{% load feed %} 

		{% block content %}

			<div id="content">
				<div class="post">
					<h1 class="title"><a name="abouttardis">News</a></h1>
					<div class="entry">
						
						{% for entry in entries %}
							
							<h2 id="{{entry.updated}}"><a href="{{ entry.link }}">{{ entry.title }}</a></h2>
							<p class="meta">Posted {{ entry.updated_parsed|todatetime|date }} by {{ entry.author_detail.name }}</p>
							<div class="entry">						
							
							
							{{ entry.description|safe }} <br/>
							</div>
						{% endfor %}

		  	</div>
		  </div>

		</div>


			{% endblock %} {% block sidebar %}

				<ul>
					<li>
						<h2>About</h2>
						<ul>
							{% for entry in entries %}
								<li>
									<a href="#{{entry.updated}}">{{ entry.title }}</a>
								</li>
							{% endfor %}					

						</ul>
					</li>
				</ul>		

		<p>
			{% endblock %}