<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="shortcut icon" href="/site_media/favicon.ico" type="image/x-icon">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>myTARDIS {% if subtitle %}- {{ subtitle }} {% endif %}</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<!-- <link href="/site_media/css/style.css" rel="stylesheet" type="text/css" media="screen"> -->
	<link href="/site_media/css/default.css" rel="stylesheet" type="text/css" media="screen">

	<link type="text/css" href="/site_media/css/theme/ui.all.css" rel="Stylesheet" />	
	<script type="text/javascript" src="/site_media/js/jquery-1.3.1.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-personalized-1.6rc6.js"></script>
	
	<link type="text/css" href="/site_media/css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
	<script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.7.2.custom.min.js"></script>	

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5443750-1");
	pageTracker._trackPageview();
	} catch(err) {}</script>

	{% block script %}{% endblock %}

</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#">myTARDIS</a></h1>
		<p><a href="http://www.freecsstemplates.org/">DIFFRACTION IMAGE REPOSITORY</a></p>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/experiment/view">Data</a></li>
			<li><a href="/partners">Partners</a></li>
				
		</ul>
	</div>
</div>
<!-- end header -->
<div id="headerbg">
	<div id="headerloginstatus">
		{% if is_authenticated %}Welcome, {{ username }} <a href="/logout">[Log Out]</a> {% else %} <a href="/accounts/register"> [Register] </a> <a href="/login"> [Log In] </a> {% endif %}
	</div>
</div>

{% if status %}
<div id="status">
	{% if error %}
<div id="statusBoxError">
	{{status}}
</div>
	{% else %}
<div id="statusBox">
	{{status}}
</div>
	{% endif %}
</div>
{% endif %}
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content-box">
			
		
		{% block content %}
		<!-- start latest-post -->
		
		{% endblock %}
		<!-- end latest-post -->
		<!-- start recent-posts -->
		<div id="recent-posts" class="sidebar">
			<div class="post">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
		<!-- end recent-posts -->

	<!-- end content -->
	
	<div style="clear: both; width: 700px;">

		{% block bottom %}{% endblock %}

	</div>
		{% block fullpage %}

		{% endblock %}
	</div>	
	
	<!-- start sidebar -->
	<div id="bottombar">
		©2008 All Rights Reserved. &nbsp;•&nbsp; <a href="mailto:%20steve.androulakis@med.monash.edu.au">Designed by Steve Androulakis</a>
	</div>
	</div>	
</body>
</html>